body {
    background: url('${base_url}images/logo.png') no-repeat fixed bottom right;
}

#header {
	width: 100%;
    margin: 0px;
    padding: 1em 0 1em 0;
	background: #036; /*#1f4a87;*/
	border: 0px;
    border-bottom: 1px solid black;
}

#header h1 {
    width: auto;
    padding: 2em;
    display: inline;
}

#header h1 a {
	color: #7584b3;
}

#header h1 a .myadmin {
	color: #ffad17;
}

#header ul#links {
    display: inline; 
}

#header #links li {
    list-style: none;
    display: inline; 
	font-weight: bold;
	padding: 0.5em;
}

#header #links li a {
	color: #ffffff;
    font-size: larger;
}

#header #links li.active a {
	color: #c17d11;
    font-size: larger;
}

#body {
	margin: 2em 1em 1em 1em;
	padding: 0px;
}

a {
	color: #c17d11;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #8f5902;
}

img {
	border: 0px;
}

h2 {
	color: #727e0a;
}

h3 {
	color: #727e0a;
	padding-left: 2em;
}

body {
	margin: 0px;
	background-color: white;
	font-family: sans-serif;
	color: black;
}

div.rightbuttons {
    float: right;
    clear: both;
}

div.downloadbutton {
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    border: 1px solid #8dea34;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #62a324;
    color: white;
    font-weight: bolder;
    width: 12em;
    text-align: center;
}

div.downloadbutton a {
    color: white;
}

ul#footer {
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
}

#footer li {
    font-size: smaller;
    list-style: none;
    float: left;
	padding: 1em;
    color: gray;
    border: none;
}

#footer li.logo {
    padding: 0.5em;
}

#footer a {
	color: #c19e66;
}

ul.dllist {
	padding: 0.5em;
    margin: 0;
}

ul.dllist li {
    margin: 0;
    list-style: none;
    display: inline;
}

#left {
	margin: 2em 1em 1em 1em;
    float: left;
	padding: 0 2em 0 2em;
}
#left ul {
    margin: 0;
    padding: 0;
}
#left li {
    margin: 0;
    padding: 0;
}

div.clearer {
    clear: both;
}

div.themeimgborder {
    border: 1px solid #7584b3;
    margin: 0.2em;
    padding: 0.2em;
}

div.themeimg {
    overflow: hidden;
    height: 8em;
}

div.theme {
    float: left;
    width: 35em;
    border: 1px solid #7584b3;
    margin: 0.2em;
    padding: 0.2em;
}

div.filedetails {
    font-size: smaller;
}

p.date {
    font-size: smaller;
}

p.comments {
    font-size: smaller;
}

p {
    max-width: 70em;
    margin: 1em;
}

ul, dl {
    margin: 1em;
}

ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul.security li.active a {
	color: black;
}

p.signature {
    text-align: right;
    font-style: italic;
}

div.floatbox {
    float: left;
    width: 50em;
    margin: 0.2em;
    padding: 0.2em;
}

div.book img {
    margin: 1em;
    float: left;
    border: 1px solid black;
}

dl.cvslist dt {
    font-family: monospace;
}

div.screenshot {
    float: left;
    border: 1px solid #7584b3;
    margin: 0.2em;
    padding: 0.2em;
}

div.screenshot img {
    max-height: 150px;
    overflow: none;
}

div.bookbanner img {
    border: 1px solid black;
}

div.bookbanner {
    float: left;
    margin: 1em;
    width: 110px;
    height: 133px;
    overflow: none;
}

div.themeimgborder {
    border: 1px solid #7584b3;
    margin: 0.2em;
    padding: 0.2em;
}

div.themeimg {
    overflow: hidden;
    height: 8em;
}

div.award p {
    /* This has to fit for a.awardlink */
    margin-left: 310px;
}

p.award {
    font-size: large;
    font-weight: bold;
}

div.award {
    margin: 4em 1em 4em 1em;
}

a.awardlink {
    float: left;
    height: 100%;
    display: block;
    margin: 5px;
    width: 300px;
}

img.head {
    float: left;
    border: none;
    margin: 0.2em;
    padding: 0.2em;
}

pre {
    border: 1px solid black;
    margin: 1em;
    background: #ccc;
    width: auto;
    padding: 0.5em;
}
