#logo {
    padding: 0;
    margin: 0 20px;
    background: url('${base_url}images/logo.png') no-repeat;
    width: 172px; 
    height: 100px;
    font-size: 1px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

nav {
    width: 100%;
    -moz-box-shadow: 0 6px 3px -3px #ccc;
    -webkit-box-shadow: 0 6px 3px -3px #ccc;
    box-shadow: 0 6px 3px -3px #ccc; 
    border-top: 3px solid #ccc;
    padding: 0;
    margin: 0;
}
.menu {
    text-align: center;
    display: block;
    padding: 0;
    margin: 0 auto;
}

nav a {
    font-weight: bold;
    padding: 0.5em;
    margin: -3px 0 0 0;
    border-right: 1px solid #ccc;
    border-top: 3px solid #666699;
    color: #ff9900;
    display: inline-block;
}

nav a:first-child {
    border-left: 1px solid #ccc;
}
nav a:hover {
    background-color: #ff9900;
    text-decoration: none;
    color: #fff;
}

a.active {
    background-color: #666699;
    color: #fff;
}

.planet-body {
    margin-right: 20em;
}
.demo-body {
    margin-right: 20em;
}

#body {
    margin: 0 1em 1em 1em;
    padding-top:1%;
    overflow: auto;
}

a {
    color: #ff9900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #8f5902;
}

img {
    border: 0;
}

h1, h2, h2 a, h3, h3 a {
    color: #666699;
}

body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
    color: black;
}

.banner {
    width: 80em;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;
}

.bannerimg {
    float: right;
    clear: both;
    margin: 0;
}

/* For planet */
.sidebar {
    position: absolute;
    top: 4em;
    right: 0;
    width: 20em;

    margin-left: 0;
    margin-right: 0;
    padding-right: 0;

    padding-top: 20px;
    padding-left: 0;

    font-size: smaller;
}

.sponsors {
    float: right;
    margin: 1em;
    text-align: center;
    width: 12em;
    min-width: 250px;
}

.sponsors div {
    padding: 0.5em 0 0.5em 0;
}

.sponsors p a {
    font-size: smaller;
    color: #666699;
}

.hitbuttons div {
    padding: 0;
    margin: 0 0 0 1em;
    border: 1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #666699;
    color: white;
    font-weight: bolder;
    -moz-box-shadow:0 0 8px #AAA;
    -webkit-box-shadow:0 0 8px #AAA;
    box-shadow:0 0 8px #AAA;
    -webkit-transition:-webkit-box-shadow 0.1s ease-out;
    -moz-transition:-webkit-box-shadow 0.1s ease-out;
    -o-transition:-webkit-box-shadow 0.1s ease-out;
    transition:-webkit-box-shadow 0.1s ease-out;
    display: inline-block;
}
.hitbuttons div:hover {
    background-color: #8888cc;
}

.hitbuttons div a {
    color: white;
    display: block;
    padding: 0.5em 2em;
    text-decoration: none;
}

div.tip {
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffff87;
    font-size: smaller;
    padding: 0.2em;
    width: 15em;
}

footer ul {
    padding: 0;
    margin: 0;
    max-width: none;
    clear: both;
}

footer li {
    font-size: smaller;
    list-style: none;
    float: left;
    padding: 1em;
    color: gray;
    border: none;
}

footer a {
    color: #c19e66;
}

.left-list {
    margin: 2em 1em 1em 1em;
    float: left;
    padding: 0pt 2em;
}
.left-list ul {
    margin: 0;
    padding: 0;
}
.left-list li {
    margin: 0;
    padding: 0;
}

.clearer {
    clear: both;
    padding: 0;
    margin: 0;
}

.themeimgborder {
    float: right;
    border: 1px solid #7584b3;
    margin: 0.2em;
    padding: 0.2em;
}

.themeimg {
    overflow: hidden;
    height: 8em;
    max-width: 30em;
}

.theme {
    float: left;
    width: 70em;
    max-width: none;
    border: 1px solid #7584b3;
    margin: 0.2em;
    padding: 0.2em;
}

.themelink {
    padding-left: 0.5em;
}

p.date {
    font-size: smaller;
}

p {
    max-width: 70em;
    margin: 1em;
}

ul, dl {
    margin: 1em;
    max-width: 70em;
}
.sidebar ul {
    margin: 0;
}

ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul.security li.active a {
    color: black;
}

p.signature {
    text-align: right;
    font-style: italic;
}

.floatbox {
    float: left;
    width: 50em;
    margin: 0.2em;
    padding: 0.2em;
}

.book img {
    margin: 1em;
    float: left;
    border: 1px solid black;
}

.screenshot {
    float: left;
    border: 1px solid #7584b3;
    margin: 0.2em;
    padding: 0.2em;
}

.screenshot img {
    max-height: 150px;
    overflow: hidden;
}

.bookbanner {
    float: left;
    margin: 1em;
    width: 150px;
    height: 185px;
    overflow: hidden;
}

div.award p {
    /* This has to fit for a.awardlink */
    margin-left: 310px;
}

p.award {
    font-size: large;
    font-weight: bold;
}

div.award {
    margin: 4em 1em 4em 1em;
}

.awardlink {
    float: left;
    height: 100%;
    display: block;
    margin: 5px;
    width: 300px;
}

.head {
    float: left;
    border: none;
    margin: 0.2em;
    padding: 0.2em;
}

pre {
    border: 1px solid black;
    margin: 1em;
    background: #ccc;
    width: auto;
    padding: 0.5em;
}

.graph td.bar {
    width: 400px;
}

.graph td.bar div {
    border-top: solid 2px #0077DD;
    background-color: #004080;
    border-bottom: solid 2px #002266;
    text-align: right;
    color: white;
    float: left;
    padding-top: 0;
    height: 1em;
}

.graph td.b80 div {
    border-top: solid 2px #dd7700;
    background-color: #804000;
    border-bottom: solid 2px #662200;
}

.graph td.b50 div {
    border-top: solid 2px #ff7700;
    background-color: #d04000;
    border-bottom: solid 2px #882200;
}

.sortable thead th {
    background: url(${base_url}images/icon-table-sort.png) no-repeat 2px 8px;
    padding: 4px 4px 4px 14px;
}

.sortable thead th.forward_sort {
    background: url(${base_url}images/icon-table-sort-asc.png) no-repeat 2px 4px;
}

.sortable thead th.reverse_sort {
    background: url(${base_url}images/icon-table-sort-desc.png) no-repeat 2px 10px;
}

.dllist td { 
    padding: 2px;
}

td.size {
    text-align: right;
}

td.count {
    text-align: right;
}

em.big {
    font-style: normal;
    font-size: 1.2em;
}
div.subscribe {
    text-align: center;
}
table.nice td, table.nice th {
    padding: 0.2em;
}
table.nice {
    margin: 0 1em 1em 1em;
}
