{% extends 'base.html' %}

{% block content %}

<p>Archive of phpMyAdmin releases, you can find currently supported versions <a href="{% url 'downloads' %}">on downloads page</a>.</p>

<table class="table table-condensed table-striped"> 
<thead>
<tr>
    <th>Release</th>
    <th>Date</th>
    <th>Quick download</th>
    <th>Size</th>
    <th>Verification</th>
</tr>
</thead>
<tbody>
{% for object in object_list %}
<tr>
    <th><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
    <td>{{ object.date|date:"Y-m-d" }}</td>
{% with object.simpledownload as file %}
{% if file %}
    <td><a href="{{ file.get_absolute_url }}">{{ file.filename }}</a></td>
        <td class="size">{{ file.size | filesizeformat }}</td>
        <td>
        {% if file.signed %}
        [<a href="{{ file.get_signed_url }}">PGP</a>]
        {% endif %}
        [<a href="{{ file.get_absolute_url }}.sha256">SHA256</a>]
        </td>
{% else %}
     <td colspan="3">Download not available</td>
{% endif %}
{% endwith %}
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
