body {
  overflow-x: hidden;
  overflow-y: visible;
}

.hero-content,
.content {
  width: 90vw;
  max-width: 90%;
}

.content-row .col-md-1,
.content-row .col-md-2,
.content-row .col-md-3,
.content-row .col-md-4,
.content-row .col-md-5,
.content-row .col-md-6,
.content-row .col-md-7,
.content-row .col-md-8,
.content-row .col-md-9 {
  width: 100%;
}

.hero-image,
.hero-image svg,
.nav-buttons {
  display: none;
}

.navbar-toggler {
  display: block;
  height: 100%;
  width: 5rem;
  background-color: #ccc; /* TODO: Move to white after add icon */
  border: 0;
}

.nav-menu {
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 7rem;  
  width: 100%;
  height: auto;
  background: #fff; 
  border-bottom: 1px solid #ccc; 
}

.nav-menu.navbar-collapse:not(.show) {
  display: none;
}

.nav-brand {
  margin-left: -5rem; /* Button width */
}

.nav-menu .nav-item {
  width: 100%;
  height: 4rem;
  border-bottom: 0;
  border-left: 3px solid transparent;  
}

.nav-item.nav-active {
  border-color: var(--brand-primary);
}

.content-row,
.box .box-horz,
.sponsor-list {
  flex-direction: column;
}

.hero-description-actions {
  margin-top: 2rem;
}

.sponsor-list a.link-external {
  margin-bottom: 1rem;
}

.box .box-item,
.box .box-item:not(:nth-child(3n)) {
  margin-right: 0;
}

