/* ---- Components */
.content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
}

.content-row {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

/* A bit different from Bootstrap approach, but easily to remember.
* If you need more than 1 column on screen, you can split with `<div class="content content-row">` in the parent
* And use some of column combinations below in child column to create your screen.
*/
.content-row .col-md-1 {
  width: 10%;
}
.content-row .col-md-2 {
  width: 20%;
}
.content-row .col-md-3 {
  width: 30%;
}
.content-row .col-md-4 {
  width: 40%;
}
.content-row .col-md-5 {
  width: 50%;
}
.content-row .col-md-6 {
  width: 60%;
}
.content-row .col-md-7 {
  width: 70%;
}
.content-row .col-md-8 {
  width: 80%;
}
.content-row .col-md-9 {
  width: 90%;
}
/* if you need 100%, you doesn't need .content-row class! */

/* Navbar */
.navbar-toggler {
  display: none; /* TODO: Show only in small screens, test on mobile screens */
}

.navbar {
  display: flex; 
  height: 7rem;
  border-bottom: 1px solid var(--color-gray-100);
  color: var(--color-text-default);
}

.nav-container {
  display: flex;
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-brand {
  display: flex;
}

.nav-brand a {
  display: flex;
  align-items: center;
  color: inherit;
}

.nav-brand .brand-symbol {
  width: 6rem;
  height: 4.4rem;
  margin-right: 10px;
}

.nav-menu,
.nav-link,
.nav-actions {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-buttons {
  margin-left: 2rem;
}

.nav-item {
  height: 100%;
  color: var(--color-text-default);
  border-bottom: 3px solid transparent;
}

.nav-item:hover {
  border-color: var(--brand-primary);
  text-decoration: none;
}

.nav-link {
  color: inherit;
  padding: 0 1rem;
}

.nav-link:visited {
  color: inherit;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-item.nav-active {
  color: var(--color-primary-200);
  border-color: var(--brand-primary);
}


/* Hero */
.hero {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hero h2 {
  margin-top: 0;
}

.hero-content {
  flex-direction: row;
  justify-content: space-around;
}

.hero-content a {
  color: inherit;
}

.hero.hero-primary {
  background-color: var(--brand-primary);
  color: #FFF;
}

.hero.hero-secondary {
  background-color: var(--color-gray-100);
}

.hero-image,
.hero-image svg {
  height: 30rem;
  width: 30rem;
  margin-right: 10rem;
}

.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-description-actions {
  display: flex;
}

.hero-description-actions .btn {
  width: 100%;
}


/* Brand */
.brand-text {
  height: 1.4rem;
  width: 9.4rem;
}


/* Buttons */
button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  height: 4.5rem;
  border-radius: 5px;
  border: 1px solid;
  padding: 1rem 1.5rem;
  line-height: 2rem;
  color: inherit;
  text-align: center;
  background-color: transparent;
  transition: background-color ease 0.3s;
  width: max-content;
}

.btn:visited {
  color: inherit;
}

.btn ~.btn {
  margin-left: 2rem;
}

.btn:hover {
  transition: background-color ease 0.3s;
  text-decoration: none;
}

.btn.btn-primary {
  background-color: var(--brand-primary);
  border-color: var(--color-primary-200);
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: var(--color-primary-200);
}

.btn.btn-secondary {
  background-color: var(--brand-secondary);
  border-color: var(--color-secondary-200);
  transition: background-color ease 0.3s;
}

.btn.btn-secondary:hover {
  background-color: var(--color-secondary-200);
}

.btn.btn-tertiary {
  background-color: var(--color-green-100);
  border-color: var(--color-green-200);
  color: #fff;
  transition: background-color ease 0.3s;
}

.btn.btn-tertiary:hover {
  background-color: var(--color-green-200);
}

.btn.btn-ghost:hover {
  background-color: var(--color-ghost-50);
}

.btn.btn-big {
  height: 6rem;
  line-height: 3.4rem;
}

/* Boxes */
.box {
  text-align: center;
}

.box .box-horz {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box .box-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  background-color: #fff;
  border: 1px solid var(--color-gray-200);
  padding: 1rem;
  border-radius: 10px;  
  margin-bottom: 3rem;
  min-width: 30%;
  min-height: 34rem;
  cursor: default;
}

.box .box-item:not(:nth-child(3n)) {
  margin-right: 3rem;
}

.box .box-item .box-item-title {
  font-size: 1.8rem;
  font-weight: normal;
}

.box .box-item-image {
  margin-top: 4rem;
  margin-bottom: 4rem;
}


/* Sponsor Block */
.sponsors div[class*=' sponsors-'],
.sponsors div[class^='sponsors-'] {
  margin-right: 3rem;
}

.sponsor-list {
  display: flex;
  flex-direction: row;
}

.sponsor-list a.link-external {
  margin-right: 2rem;
}


/* News Block */
.news-item {
  display: flex;
  border-radius: 5px;
  background-color: var(--color-gray-100);
  margin-bottom: 2rem;
  padding: 2rem 2rem;
}

.news-date {
  text-align: center;
  color: var(--brand-primary);
  font-weight: 700;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  border-right: 4px solid currentColor;
}

.news-date .news-day {
  font-size: 3.6rem;
  line-height: 2.9rem;
}

.news-date .news-month {
  font-size: 2.4rem;
  line-height: 3rem;
}

.news-date .news-year::empty {
  display: none;
}

.news-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.news-title {
  color: var(--color-text-default);
  font-size: 1.8rem;
}

.news-excerpt {
  font-size: 1.4rem;
  color: var(--color-gray-300);
}

/* Card - Simple */
.card-simple {
  margin-bottom: 1rem;
}

.card-simple h3 {
  margin-bottom: 0;
}

.card-simple .card-subtitle {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.card-simple .card-info {
  display: flex;
}

.card-simple .card-info .card-image {
  margin-right: 1rem;
}

.card-simple .card-description p {
  margin-top: 0;
}

/* Cards - List */
.card-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  list-style-type: none;
  width: auto;
}

.card-list li {  
  border-radius: 5px;
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-100);
  margin-bottom: .5rem;
  transition: .5s ease background-color;
}

.card-list li:hover {  
  background-color: var(--color-gray-200);
  transition: .5s ease background-color;
}

.card-list li > a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 100%;
}

.card-list li > a.link-main {
  font-weight: bold;
}

.card-list-side li {
  display: inline-block;
}

/* Alert */
.alert {
  padding: 2rem;
  margin-bottom: 1rem;
  border-left: 4px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Alert - Success State */
.alert.alert-success {
  background: var(--alert-success);
  border-color: var(--color-green-200);
}

.alert.alert-success h4 {
  color: var(--color-green-200);
}

/* Alert - Information State */
.alert.alert-info {
  background: var(--color-blue-50);
  border-color: var(--alert-info);
}

.alert.alert-info h4 {
  color: var(--alert-info);
}

/* Alert - Error State */
.alert.alert-error {
  background: var(--alert-error);
  border-color: var(--color-red-200);
}

.alert.alert-error h4 {
  color: var(--color-red-200);
}

/* Alert - Warning State */
.alert.alert-warning {
  background: var(--alert-warning);
  border-color: var(--color-yellow-200);
  color: #FFFFFF;
}

.alert.alert-warning h4 {
  color: var(--color-yellow-200);
}


/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  font-size: 1.2rem; 
  border-top: 1px solid var(--color-gray-100);
}

footer > section {
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: flex;
  align-items: center;
}

.designed-by {
  border-left: 1px solid rgba(0, 0, 0, 1);
  margin-left: 5px;
  padding-left: 5px;
}

footer > .content {
  flex-direction: row;
}

footer .footer-links {
  display: flex;
  align-items: center;
}

footer a {
  color: var(--color-text-default);
  margin-left: 2.4rem;
}
footer a:hover {
  color: var(--color-text-default);
}

footer .footer-icon svg {
  height: 2.4rem;
  width: 2.4rem;
  margin-top: 5px; /* TODO: See this later */
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.is-hidden {
  display: none;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}
