<div class="col-md-3">
  <h2>Announcements</h2>

  {% regroup pmasas by year as pmasa_list %}
  <!-- TODO: Fix this layout -->
  <div class="accordion" id="announcementsAccordion">
    {% for year in pmasa_list %}
    <div class="card">
      <div class="card-header" id="heading{{ year.grouper }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left{% if year.grouper != pmasa_year %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{ year.grouper }}" aria-expanded="{% if year.grouper == pmasa_year %}true{% else %}false{% endif %}" aria-controls="collapse{{ year.grouper }}">
            {{ year.grouper }}
            <span class="badge badge-dark float-right">{{ year.list|length }}</span>
          </button>
        </h2>
      </div>
      <div id="collapse{{ year.grouper }}" class="collapse{% if year.grouper == pmasa_year %} show{% endif %}" aria-labelledby="heading{{ year.grouper }}" data-parent="#announcementsAccordion">
        <div class="list-group list-group-flush">
        {% for item in year.list %}
          <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action{% if pmasa == item %} active{% endif %}">{{ item }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
