{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <h2>Security</h2>
    <p>
      We take any security issues found in our code seriously.
      On the right side, you can see past security issues that were discovered and fixed.
      For critical issues, we publish a security release (whose number contains a fourth digit like 3.3.10.5).
      See our
      <a href="https://docs.phpmyadmin.net/en/latest/security.html" target="_blank">documentation</a> 
      for more details about our security policy.
    </p>

    {% include "security/_contact.html" %}

    <p>
      Please note that any support requests sent to this address will not be answered;
      you should use the standard support methods mentioned on the
      <a href="{% url 'support' %}">support</a> page.
    </p>

    <p>
      To follow the latest security releases, you can use an <a href="{% url 'feed-security' %}" target="_blank">RSS feed</a>.
    </p>
  </div>
  <div class="col-md-3">
    {% include "security/_list.html" %}
  </div>
</div>
{% endblock %}
