<p>
  The phpMyAdmin <a href="https://git-scm.com" target="_blank" rel="noopener noreferrer">Git</a> repository is located at
  <code>https://github.com/phpmyadmin/phpmyadmin.git</code>. You can browse it online using 
  <a href="https://github.com/phpmyadmin/phpmyadmin" target="_blank" rel="noopener noreferrer">GitHub</a>.
  Note that phpMyAdmin uses Composer to manage library dependencies. When using Git development versions, you must manually run Composer.
  Please see <a href="https://docs.phpmyadmin.net/en/latest/setup.html#installing-from-git" target="_blank" rel="noopener noreferrer">the documentation</a> for details.
</p>
