{% include "_download_button.html" with release=latest_release %}

{% if beta_release %}
  {% include "_download_button.html" with release=beta_release %}
{% endif %}

<div class="d-flex gap-2">
  <a class="btn btn-secondary flex-fill" href="https://demo.phpmyadmin.net/master-config/public/" target="_blank" rel="noopener">
    <svg class="bi"><use href="#eye"></use></svg>
    Demo
  </a>

  <a class="btn btn-secondary flex-fill" href="{% url 'donate' %}">
    <svg class="bi"><use href="#credit-card"></use></svg>
    Donate
  </a>
</div>
