{% with latest_release as release %}
    {% include "_dlbox.html" %}
{% endwith %}

{% if beta_release %}
{% with beta_release as release %}
    {% include "_dlbox.html" %}
{% endwith %}
{% endif %}

    <a class="btn btn-success" href="https://demo.phpmyadmin.net/master-config/" title="Go to demo server"><svg class="bi"><use href="#eye"></use></svg> Try demo</a>

    <a class="btn btn-success" href="{% url 'donate' %}" rel="payment"><svg class="bi"><use href="#credit-card"></use></svg> Donate</a>
