{% with latest_release as release %}
<div class="downloadbutton">
    {% include "_dlbox.html" %}
</div>
{% endwith %}

{% if beta_release %}
{% with beta_release as release %}
<div class="downloadbutton">
    {% include "_dlbox.html" %}
</div>
{% endwith %}
{% endif %}

<div>
    <a href="http://demo.phpmyadmin.net/master-config/" title="Go to demo server">Try demo</a>
</div>

<div>
    <a href="{% url 'donate' %}" rel="payment">Donate</a>
</div>

<div>
    <a href="http://wiki.phpmyadmin.net/pma/Category:Google_Summer_of_Code_2015" title="Google Summer of Code 2015">GSoC 2015</a>
</div>
