{% load staticfiles %}
<div class="sponsors">

<h2><a href="{% url 'sponsors' %}">Sponsors</a></h2>

<h3>Diamond sponsor</h3>

<div class="sp diamond">
<a href="https://www.navicat.com/"><img src="{% static 'images/navicat_250x250.jpg' %}" alt="Navicat" /></a>
</div>

<h3>Gold sponsors</h3>

<div class="sp gold">
<a href="https://hostingfacts.com/"><img src="{% static 'images/hostingfacts.png' %}" alt="HostingFacts.com" /></a>
</div>

<div class="sp gold">
<a href="http://couponcodehoster.org/"><img src="{% static 'images/couponcodehoster.png' %}" alt="Web Host Coupon Codes" /></a>
</div>

<div class="sp gold">
<a href="http://www.binaryoptionrobotinfo.com/">Binary Option Robot Info</a>
</div>

<div class="sp gold">
<a href="http://www.01casinos.net/"><img src="{% static 'images/01casinos.png' %}" alt="Online Casino guide" /></a>
</div>

<div class="sp gold">
<a href="http://tobi.com/"><img src="{% static 'images/tobi.png' %}" alt="tobi.com" /></a>
</div>

<div class="sp gold">
<a href="http://MobileSlots.com/"><img src="{% static 'images/mobileslots.png' %}" alt="MobileSlots.com" /></a>
</div>

<div class="sp gold">
<a href="http://7binaryoptions.com/">7binaryoptions.com</a>
</div>

<div class="sp gold">
<a href="http://www.casino2k.com/"><img src="{% static 'images/casino2k.png' %}" alt="Casino2k" /></a>
</div>

<div class="sp gold">
<a href="https://www.roxypalace.com/"><img src="{% static 'images/roxy-palace.png' %}" alt="Roxy Palace online casino" /></a>
</div>

{% include '_sponsorship_note.html' %}

</div>
