{% load static %}
<div class="sponsors">
  <h3>Diamond sponsor{% if sponsors.diamond|length > 1 %}s{% endif %}</h3>
  <div class="border rounded mb-3 p-3">
    {% if sponsors.diamond|length == 0 %}
    This space is available &mdash; <a href="{% url 'sponsors' %}#process">contact us</a> to get listed here.
    {% endif %}
  </div>

  {% if sponsors.diamond|length > 0 %}
  <div class="border rounded mb-3 p-3">
    <div class="row {{ row_cols|default:'row-cols-1 row-cols-md-2' }} g-3">

      {% for sponsor in sponsors.diamond %}
      {% include '_sponsor.html' with isList=isList imgClass="img-fluid diamond" divClass="col text-center" %}
      {% endfor %}

    </div>
  </div>

  {% endif %}

  {% if sponsors.platinum|length > 0 %}
  <h3>Platinum Sponsor{% if sponsors.platinum|length > 1 %}s{% endif %}</h3>

  <div class="border rounded mb-3 p-3">
    <div class="row {{ row_cols|default:'row-cols-1 row-cols-md-2' }} g-3">

      {% for sponsor in sponsors.platinum %}
      {% include '_sponsor.html' with isList=isList imgClass="img-fluid platinum" divClass="col text-center" %}
      {% endfor %}

    </div>
  </div>

  {% endif %}

  {% if sponsors.gold|length > 0 %}
  <h3>Gold Sponsor{% if sponsors.gold|length > 1 %}s{% endif %}</h3>

  <div class="border rounded mb-3 p-3">
    <div class="row {{ row_cols|default:'row-cols-1 row-cols-md-2' }} g-3">

      {% for sponsor in sponsors.gold %}
      {% include '_sponsor.html' with isList=isList imgClass="img-fluid gold"  divClass="col text-center" %}
      {% endfor %}

    </div>
  </div>

  {% endif %}
</div>
