{% load staticfiles %}
<div class="sponsors">

<h3>Diamond sponsor</h3>

<div><a href="http://www.navicat.com/"><img src="{% static 'images/navicat_250x250.jpg' %}" alt="Navicat" /></a></div>

<h3>Platinum sponsors</h3>

<div><a href="http://www.webhostingsecretrevealed.net/"><img src="{% static 'images/webhostingsecretrevealed.jpg' %}" alt="Web Hosting Secret Revealed" /></a></div>

<h3>Gold sponsors</h3>

<h3><a href="{% url 'sponsors' %}">Sponsorship</a></h3>

<p><a href="{% url 'sponsors' %}">See other sponsors and information for new sponsors.</a></p>

</div>
