<h3 id="rules">Sponsorship conditions and advantages</h3>

<ul>
 <li>A sponsor has to commit to a yearly amount depending on the sponsorship level</li>
 <li>Sponsorships are always on an annual basis and are <strong>not</strong> refundable once paid</li>
 <li>Within a sponsorship level, sponsors are listed in the chronological order of their joining the sponsorship program</li>
 <li>We reserve the right to change sponsorship levels in the future</li>
 <li>The logo (if applicable) needs to be a static image, PNG is preferred</li>
 <li>The link needs to point to the sponsor's homepage</li>
 <li>The text (for text link or alternative text for image) can contain only your company name</li>
 <li>We're not accepting sponsors in the following areas: adult content, gambling-related, binary options sites, or sites linking to illegal content</li>
 <li>The sponsorship terms are non negotiable and we do not provide any discounts to the sponsorship levels</li>
</ul>

<h3 id="levels">Sponsorship levels</h3>

<table class="table">
<thead>
<tr><th>Level</th><th>Yearly amount (USD)</th><th>Logo/link</th></tr>
</thead>
<tbody>
<tr><td class="name">Diamond</td><td class="td-size">$20000</td><td>250x250 logo on <a href="{% url 'home' %}">home page</a> and <a href="{% url 'sponsors' %}">sponsors page</a></td></tr>
<tr><td class="name">Platinum</td><td class="td-size">$10000</td><td>250x130 logo on <a href="{% url 'home' %}">home page</a> and <a href="{% url 'sponsors' %}">sponsors page</a></td></tr>
<tr><td class="name">Gold</td><td class="td-size">$5000</td><td>250x70 logo or text link on <a href="{% url 'home' %}">home page</a> and <a href="{% url 'sponsors' %}">sponsors page</a></td></tr>
<tr><td class="name">Silver</td><td class="td-size">$2500</td><td>250x70 logo only on <a href="{% url 'sponsors' %}">sponsors page</a></td></tr>
<tr><td class="name">Bronze</td><td class="td-size">$1000</td><td>text link on <a href="{% url 'sponsors' %}">sponsors page</a></td></tr>
</tbody>
</table>

<h3 id="process">Sponsorship process</h3>

<ol>
<li>
Before starting the process make sure your sponsorship fits our <a href="#rules">conditions</a>. If unsure ask us at <a href="mailto:donate@phpmyadmin.net?subject=phpMyAdmin%20sponsorship%20question">&lt;donate@phpmyadmin.net&gt;</a>.
</li>
<li>
Please get in touch with us by
<a href="mailto:donate@phpmyadmin.net?subject=Invoice%20Requested%20for%20phpMyAdmin%20sponsorship">writing to &lt;donate@phpmyadmin.net&gt;</a>
and we will provide you payment information together with invoice.
</li>
<li>
The invoice can be paid by wire transfer, ACH, or
paper check, and instructions for payment will be provided with the
invoice. These methods of payment save the phpMyAdmin project a lot
in credit card processing fees, and puts more of your sponsorship to
work in supporting our project. For Bronze level you can pay conveniently 
using PayPal.
</li>
<li>
Received payment is processed by <a href="https://sfconservancy.org/">Software 
Freedom Conservancy</a>. This usually takes about one week, but might be 
delayed in times they are heavily loaded.
</li>
<li>
Your link and/or logo is placed to our website (depending on your <a href="#levels">sponsorship level</a>).
</li>
</ol>

<h3>New sponsors</h3>

{% include "_conservancy.html" %}

<p>
If you use phpMyAdmin or offer it to your customers, please consider 
sponsoring the project with a yearly donation. The money will be used to 
improve phpMyAdmin, bring phpMyAdmin developers to conferences and to cover 
costs for services required to run the project.
</p>

<p>
Please note that we might refuse to link to some sites which
we consider unethical or inappropriate.
</p>

<p>
Thank you for your support!
</p>
