{% extends 'base.html' %}
{% load staticfiles %}
{% load downloads %}

{% block content %}

<h2>History</h2>

<p>
Tobias Ratschiller, then an IT consultant and later founder of the software
company Maguma, started to work on a PHP-based web front-end to MySQL in 1998,
inspired by Peter Kuppelwieser's MySQL-Webadmin. He gave up the project (and
phpAdsNew, of which he was also the original author) in 2000 because of lack
of time.
</p>

<p>
By that time, phpMyAdmin had already become one of the most popular PHP
applications and MySQL administration tools, with a large community of users
and contributors. In order to coordinate the growing number of patches, a
group of three developers, Olivier Müller, Marc Delisle and Loïc Chapeaux,
registered the phpMyAdmin project at <a
href="https://sourceforge.net/">SourceForge.net</a> and took over the
development in 2001. Since 2015 the development is completely based
on <a href="https://github.com/phpmyadmin">GitHub</a>.
</p>


<h2>Milestone releases</h2>

<ul>
<li>1998-09-09 {% releaselink '0.9.0' %}: First internal release.</li>
<li>1998-11-03 {% releaselink '1.1.0' %}: Added first confirmations for DROP commands.</li>
<li>1998-11-29 {% releaselink '1.2.0' %}: Added possibility to import from text files.</li>
<li>1998-12-16 {% releaselink '1.3.0' %}: Added query by example functionality.</li>
<li>1998-12-27 {% releaselink '1.3.1' %}: First multi-lingual version.</li>
<li>1999-01-16 {% releaselink '1.4.0' %}: Added support for renaming and copying tables.</li>
<li>1999-04-11 {% releaselink '2.0.0' %}: Major layout changes.</li>
<li>2000-06-08 {% releaselink '2.1.0' %}: Last release by the original developer Tobias Ratschiller.</li>
<li>2001-08-31 {% releaselink '2.2.0' %}: First stable release made by the phpMyAdmin project.</li>
<li>2001-11-08 {% releaselink '2.3.0' %}: Database and table views were split into smaller sections.</li>
<li>2003-11-05 {% releaselink '2.5.0' %}: Introduction of the MIME-based transformation system.</li>
<li>2004-09-27 {% releaselink '2.6.0' %}: Improved character set handling and support for MySQL 4.</li>
<li>2005-12-04 {% releaselink '2.7.0' %}: Improved importing capabilities, simplified configuration and interface cleanup.</li>
<li>2006-03-06 {% releaselink '2.8.0' %}: Compatibility updates, hiding databases, configurable memory limits, web-based setup.</li>
<li>2006-09-20 {% releaselink '2.9.0' %}: Added export to OpenDocument Text and Spreadsheet.</li>
<li>2007-02-27 {% releaselink '2.10.0' %}: GUI for relations, called Database Designer.</li>
<li>2007-08-22 {% releaselink '2.11.0' %}: Supports creating VIEWS from query results, manages triggers, procedures and functions. Improved interface for servers handling large number of databases/tables.</li>
<li>2008-09-27 {% releaselink '3.0.0' %}: Requires PHP 5.2 and MySQL 5+. Supports EVENT and TRIGGER.</li>
<li>2008-11-28 {% releaselink '3.1.0' %}: Added support for BLOBStreaming, Swekey hardware authentication and rewritten setup script.</li>
<li>2009-06-09 {% releaselink '3.2.0' %}: Added many small features.</li>
<li>2010-03-07 {% releaselink '3.3.0' %}: Added new import and export modules, changes tracking, synchronization and support for replication configuration.</li>
<li>2001-05-11 {% releaselink '3.4.0' %}: AJAXification of some parts, charts, visual query builder, user preferences, ENUM/SET editor.</li>
<li>2012-04-07 {% releaselink '3.5.0' %}: Improved browsing, server monitoring, support for stored routines, events and triggers, openGIS support, Drizzle support.</li>
<li>2013-05-03 {% releaselink '4.0.0' %}: Removal of HTML frames, switch to tree-based navigation, and new look for the documentation.</li>
<li>2013-12-12 {% releaselink '4.1.0' %}: Requires PHP 5.3 and MySQL 5.5. Added ReCAPTCHA support, configurable menus, and an error reporting component.</li>
<li>2014-05-08 {% releaselink '4.2.0' %}: Added fixed navigation tabs, favorites table and a quick filter for displayed rows.</li>
<li>2014-12-05 {% releaselink '4.3.0' %}: Added SQL preview mode, central list of columns, normalization and the new console.</li>
<li>2015-04-01 {% releaselink '4.4.0' %}: Various improvements to the table structure page, the console and the ZeroConf features.</li>
<li>2015-09-23 {% releaselink '4.5.0' %}: Various improvements to export, import, table partitions or the console features.</li>
<li>2016-03-22 {% releaselink '4.6.0' %}: Improved support for SSL connections to MySQL and many bugfixes.</li>
</ul>


<h2>Name</h2>

<p>
The phpMyAdmin name is obviously a mixture of PHP as the language it uses, MySQL as the
database it manages and administration as the activity it handles. Even though
the name seems to be quite simple, many people mix it up and they refer to
phpMyAdmin under different names, such as myphpadmin, phpadmin, phpmysqladmin
(these are the three most frequent Google searches going to this website aside from the
correctly spelled variant).
</p>

{% endblock %}
