{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>About Website</h2>

<p>
This website is implemented in <a href="https://www.python.org/">Python</a>, uses
<a href="https://github.com/kurtmckee/feedparser/">FeedParser</a> to grab 
external data and <a href="https://www.djangoproject.com/">Django</a> to generate 
web pages. Source code of it is available in the Github repository 
<code><a href="https://github.com/phpmyadmin/website">phpmyadmin/website</a></code> 
 (see <a href="{% url 'develop' %}">developer information</a> 
for information how to access it).
</p>

<p>
Site original design and logic has been created by <a href="{% url 'team' %}#michal">Michal
Čihař</a>. New design (2020) has been created and implemented by <a href="{% url 'team' %}#design">Adriano Cahete</a>.<br>
It is powered by <a href="https://www.cdn77.com/">CDN77.com</a>.
</p>

<p>
Site should be valid XHTML and CSS, where it makes sense, we try to use 
<a href="http://microformats.org/">Microformats</a>. We also try to make
website <a href="https://www.w3.org/WAI/WCAG1AAA-Conformance">accessible</a>.
</p>

<h2>About phpMyAdmin</h2>

<p>
There is a dedicated page to <a
href="{% url 'about' %}">information about phpMyAdmin and its
history</a>.
</p>

<h2 id="syndicate">Syndication</h2>

<p>Following RSS feeds are available for syndication:</p>

<ul>
<li><a href="{% url 'feed-news' %}">phpMyAdmin project news</a></li>
<li><a href="{% url 'feed-files' %}">phpMyAdmin file releases</a></li>
<li><a href="{% url 'feed-security' %}">phpMyAdmin security issues</a></li>
<li><a href="https://github.com/phpmyadmin/phpmyadmin/commits/master.atom">phpMyAdmin commits</a></li>
</ul>

<p>phpMyAdmin software information is available in following machine readable formats:</p>

<ul>
<li><a href="http://www.asp-shareware.org/pad/">PAD</a>: <a href="{% url 'pad' %}">https://www.phpmyadmin.net{% url 'pad' %}</a></li>
<li><a href="https://en.wikipedia.org/wiki/DOAP">DOAP</a>: <a href="{% url 'doap' %}">https://www.phpmyadmin.net{% url 'doap' %}</a></li>
</ul>

<p>For automatically checking version information, we have several file formats available as well:</p>

<ul>
<li><a href="/downloads/list.txt">list.txt</a> - list of all current downloads for latest version</li>
<li><a href="/home_page/version.txt">version.txt</a> - version, date and download URL for latest version</li>
<li><a href="/home_page/version.js">version.js</a> - embeddable javascript code with version and release date information</li>
<li><a href="/home_page/version.json">version.json</a> - JSON with version and release date information</li>
</ul>

<p>You can also directly download latest version on following URLs:</p>

{% include 'components\_stable-download.html' %}

{% include "components/_verify.html" %}

{% endblock %}
