{% extends 'base.html' %}
{% load static %}
{% load downloads %}

{% block content %}
<h2>History</h2>

<p>
  Tobias Ratschiller, then an IT consultant and later founder of the software
  company Maguma, started to work on a PHP-based web front-end to MySQL in 1998,
  inspired by Peter Kuppelwieser's MySQL-Webadmin. He gave up the project (and
  phpAdsNew, of which he was also the original author) in 2000 because of lack
  of time.
</p>

<p>
  By that time, phpMyAdmin had already become one of the most popular PHP
  applications and MySQL administration tools, with a large community of users
  and contributors. In order to coordinate the growing number of patches, a
  group of three developers, Olivier Müller, Marc Delisle and Loïc Chapeaux,
  registered the phpMyAdmin project at <a href="https://sourceforge.net" target="_blank" rel="noopener">SourceForge.net</a> and took over the
  development in 2001. Since 2015 the development is completely based
  on <a href="https://github.com/phpmyadmin" target="_blank" rel="noopener">GitHub</a>.
</p>

<p>
  For the 15th anniversary of phpMyAdmin, a special page was created to celebrate this milestone. You can view it <a href="{% url '15-years' %}">here</a>.
</p>

<h2>Milestone Releases</h2>

<ul class="list-group mb-3">
  <li class="list-group-item">
    <span class="text-muted">1998-09-09:</span>
    <strong>{% releaselink '0.9.0' %}</strong>
    - First internal release.
  </li>
  <li class="list-group-item">
    <span class="text-muted">1998-11-03:</span>
    <strong>{% releaselink '1.1.0' %}</strong>
    - Added first confirmations for DROP commands.
  </li>
  <li class="list-group-item">
    <span class="text-muted">1998-11-29:</span>
    <strong>{% releaselink '1.2.0' %}</strong>
    - Added possibility to import from text files.
  </li>
  <li class="list-group-item">
    <span class="text-muted">1998-12-16:</span>
    <strong>{% releaselink '1.3.0' %}</strong>
    - Added query by example functionality.
  </li>
  <li class="list-group-item">
    <span class="text-muted">1998-12-27:</span>
    <strong>{% releaselink '1.3.1' %}</strong>
    - First multi-lingual version.
  </li>
  <li class="list-group-item">
    <span class="text-muted">1999-01-16:</span>
    <strong>{% releaselink '1.4.0' %}</strong>
    - Added support for renaming and copying tables.
  </li>
  <li class="list-group-item">
    <span class="text-muted">1999-04-11:</span>
    <strong>{% releaselink '2.0.0' %}</strong>
    - Major layout changes.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2000-06-08:</span>
    <strong>{% releaselink '2.1.0' %}</strong>
    - Last release by the original developer Tobias Ratschiller.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2001-08-31:</span>
    <strong>{% releaselink '2.2.0' %}</strong>
    - First stable release made by the phpMyAdmin project.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2001-11-08:</span>
    <strong>{% releaselink '2.3.0' %}</strong>
    - Database and table views were split into smaller sections.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2003-11-05:</span>
    <strong>{% releaselink '2.5.0' %}</strong>
    - Introduction of the MIME-based transformation system.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2004-09-27:</span>
    <strong>{% releaselink '2.6.0' %}</strong>
    - Improved character set handling and support for MySQL 4.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2005-12-04:</span>
    <strong>{% releaselink '2.7.0' %}</strong>
    - Improved importing capabilities, simplified configuration and interface cleanup.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2006-03-06:</span>
    <strong>{% releaselink '2.8.0' %}</strong>
    - Compatibility updates, hiding databases, configurable memory limits, web-based setup.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2006-09-20:</span>
    <strong>{% releaselink '2.9.0' %}</strong>
    - Added export to OpenDocument Text and Spreadsheet.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2007-02-27:</span>
    <strong>{% releaselink '2.10.0' %}</strong>
    - GUI for relations, called Database Designer.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2007-08-22:</span>
    <strong>{% releaselink '2.11.0' %}</strong>
    - Supports creating VIEWS from query results, manages triggers, procedures and functions. Improved interface for servers handling large number of databases/tables.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2008-09-27:</span>
    <strong>{% releaselink '3.0.0' %}</strong>
    - Requires PHP 5.2 and MySQL 5+. Supports EVENT and TRIGGER.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2008-11-28:</span>
    <strong>{% releaselink '3.1.0' %}</strong>
    - Added support for BLOBStreaming, Swekey hardware authentication and rewritten setup script.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2009-06-09:</span>
    <strong>{% releaselink '3.2.0' %}</strong>
    - Added many small features.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2010-03-07:</span>
    <strong>{% releaselink '3.3.0' %}</strong>
    - Added new import and export modules, changes tracking, synchronization and support for replication configuration.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2011-05-11:</span>
    <strong>{% releaselink '3.4.0' %}</strong>
    - AJAXification of some parts, charts, visual query builder, user preferences, ENUM/SET editor.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2012-04-07:</span>
    <strong>{% releaselink '3.5.0' %}</strong>
    - Improved browsing, server monitoring, support for stored routines, events and triggers, openGIS support, Drizzle support.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2013-05-03:</span>
    <strong>{% releaselink '4.0.0' %}</strong>
    - Removal of HTML frames, switch to tree-based navigation, and new look for the documentation.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2013-12-12:</span>
    <strong>{% releaselink '4.1.0' %}</strong>
    - Requires PHP 5.3 and MySQL 5.5. Added ReCAPTCHA support, configurable menus, and an error reporting component.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2014-05-08:</span>
    <strong>{% releaselink '4.2.0' %}</strong>
    - Added fixed navigation tabs, favorites table and a quick filter for displayed rows.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2014-12-05:</span>
    <strong>{% releaselink '4.3.0' %}</strong>
    - Added SQL preview mode, central list of columns, normalization and the new console.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2015-04-01:</span>
    <strong>{% releaselink '4.4.0' %}</strong>
    - Various improvements to the table structure page, the console and the ZeroConf features.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2015-09-23:</span>
    <strong>{% releaselink '4.5.0' %}</strong>
    - Various improvements to export, import, table partitions or the console features. Requires PHP 5.5 or newer.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2016-03-22:</span>
    <strong>{% releaselink '4.6.0' %}</strong>
    - Improved support for SSL connections to MySQL and many bugfixes.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2017-03-29:</span>
    <strong>{% releaselink '4.7.0' %}</strong>
    - Added database and table filtering, changes to JSON export, and begin using Composer to manage library dependencies.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2018-04-07:</span>
    <strong>{% releaselink '4.8.0' %}</strong>
    - Support for two-factor authentication, added a mobile-friendly interface.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2019-06-04:</span>
    <strong>{% releaselink '4.9.0' %}</strong>
    - "Long Term Support" (LTS) version providing security fixes for PHP 5.5 through 7.4 and MySQL 5.5 and newer.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2019-12-26:</span>
    <strong>{% releaselink '5.0.0' %}</strong>
    - Added the Metro theme as well as modernizing many aspects of the codebase. PHP 7.1 or newer is now required.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2021-02-24:</span>
    <strong>{% releaselink '5.1.0' %}</strong>
    - Added a routing system and re-worked all the route endpoints. Babel is now used to transpile JS files and Bootstrap is used more and more in our Twig templates. A lot of codebase modernizing and some performance improvements.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2022-05-10:</span>
    <strong>{% releaselink '5.2.0' %}</strong>
    - Added support for account locking, upgraded Bootstrap to version 5 and a lot of codebase modernizing and some performance improvements. PHP 7.2 or newer is now required.
  </li>
  <li class="list-group-item">
    <span class="text-muted">2023-01-15:</span>
    <strong>{% releaselink '5.3.0' %}</strong>
    - Improved security features, added support for PHP 8.0, and various performance enhancements.
  </li>
</ul>

<h2>Name</h2>

<p>
  The phpMyAdmin name is obviously a mixture of PHP as the language it uses, MySQL as the
  database it manages and administration as the activity it handles. Even though
  the name seems to be quite simple, many people mix it up and they refer to
  phpMyAdmin under different names, such as myphpadmin, phpadmin, phpmysqladmin
  (these are the three most frequent Google searches going to this website aside from the
  correctly spelled variant).
</p>
{% endblock %}
