{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content">
  <h2>Awards</h2>
  {% for award in awards %}
      <div class="content-row award-item">
        <div class="col-md-3 col-centered">
          <a href="{{award.link}}">
            <img class="img-margin" src="{% static award.image %}" alt="{{award.title}}" />
          </a>
        </div>
        <div class="col-md-7">
          {% autoescape off %}{{award.text}}{% endautoescape %}
          {% if award.photos %}
            <p>Photos:</p>
            {% for photo in award.photos %}
              <span>
                <a href="{% static photo.0 %}" class="colorbox" title="{{photo.2}}">{{photo.1}}</a>
              </span>
            {% endfor %}            
          {% endif %}
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}
