{% load staticfiles %}
{% load compress %}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head profile="http://purl.org/uF/2008/03/ http://purl.org/uF/hAtom/0.1/">
  <meta charset="utf-8" />
  <meta name="author" content="phpMyAdmin contributors" />
  <meta name="copyright" content="Copyright &copy; 2003 - {{current_year}} phpMyAdmin contributors" />
  <link rel="copyright" href="{% url 'license' %}" />
  <title>phpMyAdmin{% if page_title %} - {{ page_title }}{% endif %}</title>
  {% if page_rss %}
  <link rel="alternate" type="application/rss+xml" href="{{ page_rss }}" title="{{ page_rss_title }}"/>
  {% else %}
  <link rel="alternate" type="application/rss+xml" href="{% url 'feed-news' %}" title="phpMyAdmin news"/>
  {% endif %}
{% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/slimbox.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
{% endcompress %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  {% if page_title %}
  <meta property="og:title" content="{{ page_title }}" />
  {% else %}
  <meta property="og:title" content="phpMyAdmin" />
  {% endif %}
  <meta property="og:site_name" content="phpMyAdmin" />
  <meta property="og:image" content="https://www.phpmyadmin.net{% static 'images/logo-og.png' %}" />
  {% block ogtags %}
  <meta property="og:type" content="website" />
  {% endblock %}
  <link rel="image_src" href="{% static 'images/logo-og.png' %}" />
  <link rel="vcs-git" href="https://github.com/phpmyadmin/phpmyadmin.git" title="phpMyAdmin Git repository" />
  <link rel="vcs-browse" href="https://github.com/phpmyadmin/" title="phpMyAdmin Git repository browser" />
  <link href="https://plus.google.com/112870346549275765217/" rel="publisher" />
{% compress js %}
  <script src="{% static 'js/mootools.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/slimbox.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/fader.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/master_sorting_table.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
{% endcompress %}
  <meta name="verify-v1" content="3AM2eNj0zQ1Ao/N2eGE02S45V3p5KQxAyMIxdUJhtEQ=" />
  <meta name="robots" content="index, follow" />
 </head>
 <body>
  <header>
   <nav>
   <div class="menu">
   {% for item in menu %}
   <a href="{{ item.url }}" {% if item.active %}class="active"{% endif %}>{{ item.title }}</a>
   {% endfor %}
   </div>
   <div class="clearer"></div>
   </nav>
    <h1><a href="{% url 'home' %}" rel="home"><span id="logo">phpMyAdmin</span></a> Bringing MySQL to the web</h1>
  </header>

  <content>
<div id="body">
  {% block content %}
    Placeholder.
  {% endblock %}
</div>
  </content>

  <footer>
  <ul>
    <li>Copyright &copy; 2003 - {{ current_year }} <span class="vcard"><a class="url org fn" href="{% url 'team' %}">phpMyAdmin contributors</a><a href="mailto:developers@phpmyadmin.net" class="email"></a></span></li>
    <li><a href="{% url 'license' %}" rel="license">License</a></li>
    <li><a href="{% url 'donate' %}" rel="payment" title="Support phpMyAdmin by donating money!">Donate</a></li>
    <li><a href="{% url 'about-website' %}" title="Information about website">About</a></li>
    <li class="logo"><a href="https://google.com/+phpmyadmin"><i class="fa fa-google-plus-square"></i></a></li>
    <li class="logo"><a href="https://twitter.com/phpmya"><i class="fa fa-twitter-square"></i></a></li>
    <li class="logo"><a href="https://www.facebook.com/pages/PhpMyAdmin/157021164334486"><i class="fa fa-facebook-official"></i></a></li>
  </ul>
  </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2718724-14', 'auto');
  ga('send', 'pageview');

</script>
 </body>
</html>

