{% load static %}
{% load compress %}

<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% if page_title %}{{ page_title }} · {% endif %}phpMyAdmin</title>
    <meta name="author" content="phpMyAdmin contributors">
    <meta property="og:title" content="{{ page_title|default:'phpMyAdmin' }}">
    <meta property="og:site_name" content="phpMyAdmin">
    <meta property="og:image" content="{{ absolute_url }}{% static 'images/logo-og.png' %}">
    {% if page_rss %}
      <link rel="alternate" type="application/rss+xml" href="{{ page_rss }}" title="{{ page_rss_title }}"/>
    {% else %}
      <link rel="alternate" type="application/rss+xml" href="{% url 'feed-news' %}" title="phpMyAdmin news"/>
    {% endif %}
    {% block ogtags %}
      <meta property="og:type" content="website">
    {% endblock %}
    {% compress css %}
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% endcompress %}
    {% compress js %}
      <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/bs5-lightbox/index.bundle.min.js' %}"></script>
      <script src="{% static 'js/color-modes.js' %}"></script>
      <script src="{% static 'js/scripts.js' %}"></script>
    {% endcompress %}
  </head>
  <body>
    {% include '_svg_symbols.html' %}

    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% for item in menu %}
                <li class="nav-item">
                  <a class="nav-link{% if item.active %} active{% endif %}"{% if item.active %} aria-current="page"{% endif %} href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/phpmyadmin/phpmyadmin" target="_blank">
                  <svg class="bi"><use href="#github"></use></svg>
                  <small class="d-lg-none ms-2">GitHub</small>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/pmyadmin/" target="_blank" rel="noopener noreferrer">
                  <svg class="bi"><use href="#facebook"></use></svg>
                  <small class="d-lg-none ms-2">Facebook</small>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://x.com/phpmya" target="_blank" rel="noopener noreferrer">
                  <svg class="bi"><use href="#twitter-x"></use></svg>
                  <small class="d-lg-none ms-2">Twitter</small>
                </a>
              </li>
              <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-emphasis"></div>
                <hr class="d-lg-none my-2 text-emphasis">
              </li>
              <li class="nav-item dropdown">
                <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                  <svg class="bi my-1 theme-icon-active"><use href="#moon-stars-fill"></use></svg>
                  <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                      <svg class="bi me-2 opacity-50"><use href="#sun-fill"></use></svg>
                      Light
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                      <svg class="bi me-2 opacity-50"><use href="#moon-stars-fill"></use></svg>
                      Dark
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                      <svg class="bi me-2 opacity-50"><use href="#circle-half"></use></svg>
                      Auto
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container my-4">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6 col-lg-9 text-center text-lg-start mb-3 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center justify-content-sm-start">
              <a href="{% url 'home' %}"><span id="logo">phpMyAdmin</span></a>
              <p class="fs-4 m-0 ms-4 d-none d-lg-block">Bringing MySQL administration to the web</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="d-grid gap-2">
              {% include '_header_buttons.html' %}
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container py-4">
        {% block content %}{% endblock %}
      </div>
    </main>

    <div class="modal modal-lg fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="downloadModalLabel">Thank you for downloading phpMyAdmin</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Your download should start automatically. If not, please <a id="dl-link" href="#">click here</a>.</p>
  
            <h1 class="modal-title fs-5">Verify the downloaded file</h1>
            <p>Please take additional steps to verify that the file you have downloaded is not corrupted. You can verify it using the following methods:</p>
            <ul>
              <li id="pgp-container">Verify its <a id="pgp-link" href="#">PGP signature</a>, see the <a href="https://docs.phpmyadmin.net/en/latest/setup.html#verifying-phpmyadmin-releases">Verifying phpMyAdmin releases</a> chapter for more information.</li>
              <li>Check that the file's SHA256 hash matches <code id="sha256-code"></code></li>
            </ul>
  
            <h1 class="modal-title fs-5">Support phpMyAdmin's development</h1>
            <p>phpMyAdmin relies on the work of volunteers and contractors. You can help improve phpMyAdmin by <a href="{% url 'donate' %}">donating to our project</a>. Every donation counts!</p>
            <p class="mb-0">We also have a <a href="{% url 'sponsors' %}#conditions">sponsorship program</a> for corporates who are willing to contribute more and receive benefits such as logo placement.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'donate' %}" class="btn btn-primary">Donate to phpMyAdmin</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="py-3 border-top">
      <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <p class="col-12 col-md-6 mb-0 text-body-secondary text-center text-md-start">© 2003 - {{ current_year }} <a href="{% url 'team' %}">phpMyAdmin contributors</a></p>

        <ul class="nav col-12 col-md-6 justify-content-center justify-content-md-end mt-2 mt-md-0">
          <li class="nav-item"><a href="{% url 'license' %}" class="nav-link px-2 text-body-secondary">License</a></li>
          <li class="nav-item"><a href="{% url 'donate' %}" class="nav-link px-2 text-body-secondary">Donate</a></li>
          <li class="nav-item"><a href="{% url 'about-website' %}" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
      </div>
    </footer>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2718724-14"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-2718724-14');
    </script>
  </body>
</html>
