{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
<div class="col-md-9">

    <h2>Download</h2>
    <p>
    Many operating systems already include a phpMyAdmin package and will
    automatically keep it updated, however these versions are sometimes
    slightly outdated and therefore may be missing the latest features.
    Additionally, the configuration process varies widely by package and
    may not adhere to the official phpMyAdmin documentation. That being said,
    it is usually the quickest way to an updated installation. Please contact your OS
    vendor for more information. Some additional information is also available <a
    href="https://docs.phpmyadmin.net/en/latest/setup.html">in our documentation</a>. If you just want to
    try phpMyAdmin in a virtual machine, you might want to check the <a
    href="#appliances">available software appliances which provide
    phpMyAdmin</a>.
    </p>
    <p>
    If you do not find a suitable package or wish to install your own phpMyAdmin,
    you can download one of the following
    kits. Please note that each version has requirements for the minimum PHP
    and MySQL versions.
    </p>

    {% include "_verify.html" %}

    {% for release in releases %}
    <h2>phpMyAdmin {{ release.version }}</h2>
    {% include "_release.html" %}
    {% endfor %}

    {% if beta_release %}
    {% with beta_release as release %}
    <h2>Testing: phpMyAdmin {{ release.version }}</h2>
    {% include "_release.html" %}
    {% endwith %}
    {% endif %}

    <h2>Development Versions</h2>
    {% include "_gitdl.html" %}

    <p>
    You can also download current snapshots from 
    <a href="https://github.com/phpmyadmin/phpmyadmin/">GitHub</a> 
    (Download ZIP button in right column).
    </p>

    <p>
    More information about using Git is available on <a
    href="{% url 'develop' %}">development page</a>.
    </p>

    <h2>Older Releases</h2>
    <p>
    You can find older releases on <a href="{% url 'files' %}">separate files page</a>. You can also get them 
    from our Git repository (check <a href="{% url 'develop' %}">developer information</a> for instructions). Older releases are unsupported.
    </p>

    <h2><a id="distributions"></a>Installing phpMyAdmin</h2>

    <p>
        The full process of installing phpMyAdmin is described in our <a
        href="https://docs.phpmyadmin.net/en/latest/setup.html">manual</a>.  You
        can find there also information how to install phpMyAdmin on your Linux
        distribution.
    </p>

    <h2><a id="appliances"></a>Appliances</h2>
    <p>
        <a href="https://en.wikipedia.org/wiki/Software_appliance">Software appliances</a>
        are becoming a popular way of distributing software. They are
        distributed as an image, which can be directly used by system (be it
        ISO image for bootable CD or virtual disks for some type of
        virtualization).
    </p>
    <p>
        There are quite many appliances which provide phpMyAdmin as a
        management tool for MySQL. It usually comes as part of LAMP stack
        but there might be other offerings as well. Please check your 
        favorite appliance provider, ISV or app store for it. Some of the
        appliances are <a href="https://en.wikipedia.org/wiki/List_of_AMP_packages">
        listed on Wikipedia</a>.
    </p>
</div>
<div class="col-md-3">
<div class="sponsors">

<h2><a href="{% url 'sponsors' %}">Sponsors</a></h2>

<h3>Platinum sponsors</h3>

<div class="sp platinum">
<a href="http://www.wpbeginner.com/?utm_source=phpmyadmin_footer&amp;utm_medium=banner&amp;utm_campaign=phpmyadmin"><img src="{% static 'images/wpbeginner-250.png' %}" alt="WPBeginner" /></a>
</div>

{% include '_sponsorship_note.html' %}

</div>
</div>
</div>
{% endblock %}
