{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Download</h2>
<p>
  Many operating systems already include a phpMyAdmin package and will automatically keep it updated. However, these versions are sometimes slightly outdated and may be missing the latest features. Additionally, the configuration process varies widely by package and may not adhere to the official phpMyAdmin documentation. That being said, it is usually the quickest and easiest way of keeping an updated installation. Please contact your OS vendor for more information. Some additional information is also available 
  <a href="https://docs.phpmyadmin.net/en/latest/setup.html" target="_blank" rel="noopener">in our documentation</a>. If you just want to try phpMyAdmin in a virtual environment, you might want to check the 
  <a href="#images-containers">available pre-configured solutions</a>.
</p>
<p>
  If you do not find a suitable package or wish to install your own phpMyAdmin, you can download one of the following kits. Please check the <a href="#versions">version requirements</a> to ensure compatibility with your environment.
</p>

{% for release in releases %}
  <h4>phpMyAdmin {{ release.version }}</h4>
  {% include "_release.html" %}
{% endfor %}

{% if beta_release %}
  {% with beta_release as release %}
    <h4>Testing: phpMyAdmin {{ release.version }}</h4>
    {% include "_release.html" %}
  {% endwith %}
{% endif %}

<h3>Development Versions</h3>
{% include "_git_download.html" %}
<p>
  More information about using Git is available on the 
  <a href="{% url 'develop' %}">development page</a>.
</p>

{% for release in all_snapshots %}
  <h4>phpMyAdmin {{ release.version }}</h4>
  {% include "_release.html" %}
{% endfor %}

<h3>Latest Stable Version</h3>
<p>You can also directly download the latest version from the following URLs:</p>
{% include '_stable_download.html' %}
<p>
  We also publish a variety of formats intended for parsing by scripts to download the latest version. Read more about those on our 
  <a href="{% url 'about-website' %}#syndicate">syndication page</a>.
</p>

<h3>Older Releases</h3>
<p>
  You can find older releases on the 
  <a href="{% url 'files' %}">separate files page</a>. You can also get them from our Git repository (check the 
  <a href="{% url 'develop' %}">developer information</a> for instructions). Older releases are unsupported.
</p>

<h2>Installation Methods</h2>
<h3>Installing phpMyAdmin</h3>
<p>
  The full process of installing phpMyAdmin is described in our 
  <a href="https://docs.phpmyadmin.net/en/latest/setup.html" target="_blank" rel="noopener">manual</a>. You can also find information there about how to install phpMyAdmin on your Linux distribution.
</p>

<h3>Official Docker Image</h3>
<p>
  The phpMyAdmin team maintains an 
  <a href="https://hub.docker.com/_/phpmyadmin" target="_blank" rel="noopener">official Docker image for phpMyAdmin</a>. It is fully documented in 
  <a href="https://docs.phpmyadmin.net/en/latest/setup.html#docker" target="_blank" rel="noopener">our manual</a> and you can install it using:
</p>
<pre>docker pull phpmyadmin/phpmyadmin:latest</pre>

<h3>Composer Package</h3>
<p>
  It is possible to install phpMyAdmin using Composer. This is the recommended way for advanced users who want to manage dependencies. Please check 
  <a href="https://docs.phpmyadmin.net/en/latest/setup.html#composer" target="_blank" rel="noopener">our manual</a> for more information.
</p>
<pre>composer create-project phpmyadmin/phpmyadmin:@stable</pre>

<h3 id="images-containers">Pre-configured Solutions</h3>
<p>
  phpMyAdmin is available as part of many pre-configured environments and cloud solutions. You can find it in:
</p>
<ul>
  <li>Docker containers and Docker Compose stacks</li>
  <li>Cloud marketplace images</li>
  <li>Pre-configured LAMP/WAMP stacks</li>
</ul>
<p>
  These solutions can help you get started quickly, but make sure to keep your installation updated for security.
</p>

<h2 id="versions">Version History & Requirements</h2>
<p>
  Our version support policy follows these guidelines:
</p>
<ul>
  <li><strong>Stable - Fully Supported:</strong> The current stable version receives both security fixes and feature updates</li>
  <li><strong>LTS (Long Term Support):</strong> Selected versions that receive security fixes only, intended for conservative upgrade cycles</li>
  <li><strong>End of Life:</strong> Versions that no longer receive any updates and should be upgraded</li>
  <li><strong>In Development:</strong> Upcoming version under active development, not yet ready for production use</li>
</ul>
<p>
  We recommend always using the latest stable version to benefit from all security updates and new features.
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Version</th>
        <th scope="col">Status</th>
        <th scope="col">End of Support</th>
        <th scope="col">End of Security Fixes</th>
        <th scope="col">Requirements</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">6.0</th>
        <td>In Development</td>
        <td>-</td>
        <td>-</td>
        <td>PHP ≥8.2, <8.4<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">5.2</th>
        <td>Stable - Fully Supported</td>
        <td>-</td>
        <td>-</td>
        <td>PHP ≥7.2, <8.4<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">5.1</th>
        <td>End of Life</td>
        <td>May 10, 2022</td>
        <td>-</td>
        <td>PHP ≥7.1, <8.1<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">5.0</th>
        <td>End of Life</td>
        <td>February 24, 2021</td>
        <td>-</td>
        <td>PHP ≥7.1, <8.0<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.9</th>
        <td>LTS - Security Support Only</td>
        <td>December 31, 2019</td>
        <td>TBD</td>
        <td>PHP ≥5.5, <8.0<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.8</th>
        <td>End of Life</td>
        <td>June 4, 2019</td>
        <td>-</td>
        <td>PHP ≥5.5, <7.3<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.7</th>
        <td>End of Life</td>
        <td>April 7, 2018</td>
        <td>-</td>
        <td>PHP ≥5.5, <7.3<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.6</th>
        <td>End of Life</td>
        <td>April 1, 2017</td>
        <td>-</td>
        <td>PHP ≥5.5, <7.2<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.5</th>
        <td>End of Life</td>
        <td>April 1, 2016</td>
        <td>-</td>
        <td>PHP ≥5.5, <7.1<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.4</th>
        <td>End of Life</td>
        <td>October 1, 2016</td>
        <td>-</td>
        <td>PHP ≥5.3, <7.1<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.3</th>
        <td>End of Life</td>
        <td>October 1, 2015</td>
        <td>-</td>
        <td>PHP ≥5.3, <7.0<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.2</th>
        <td>End of Life</td>
        <td>July 1, 2015</td>
        <td>-</td>
        <td>PHP ≥5.3, <7.0<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.1</th>
        <td>End of Life</td>
        <td>January 1, 2015</td>
        <td>-</td>
        <td>PHP ≥5.3, <7.0<br>MySQL/MariaDB ≥5.5</td>
      </tr>
      <tr>
        <th scope="row">4.0</th>
        <td>End of Life</td>
        <td>December 31, 2013</td>
        <td>April 1, 2017</td>
        <td>PHP ≥5.2, <5.3<br>MySQL/MariaDB ≥5.0</td>
      </tr>
    </tbody>
  </table>
</div>

{% include '_verify.html' %}
{% endblock %}
