{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="hero hero-primary">
  <div class="content hero-content">
    <div class="hero-image">
      <svg>
        <use xlink:href="#pma-hero-start"></use>
      </svg>      
    </div>
    <div class="hero-description">
      <div class="hero-description-text">
        <strong>phpMyAdmin</strong> is a free software tool written in PHP, to handle the administration of MySQL or MariaDB server over a Web Interface and supports a wide range of operations.
      </div>
      <div class="hero-description-actions">
        {% with latest_release as release %}
          {% with release.simpledownload as file %}
            <a
              class="btn btn-secondary btn-big download_popup"
              href="{{ file.get_absolute_url }}"
              title="Download {{ file.archive }} compressed release, {{ file.size | filesizeformat }}"
              rel="quick-download"
              data-sha256="{{ file.sha256 }}"
              data-pgp="{{ file.get_signed_url }}"
            >
              Download {{ release.version }}
            </a>
          {% endwith %}
        {% endwith %}
        <a class="btn btn-ghost btn-big" href="https://demo.phpmyadmin.net/master-config/">Try it</a>
      </div>
    </div>
  </div>
</div>

<div class="hero">
  <div class="content">
    {% include 'components/_sponsors.html' %}
  </div>
</div>

<div class="hero hero-secondary">
  <div class="content">
    <h2>Features</h2>
    <ul>
        <li>Intuitive web interface</li>
        <li>Support for most MySQL features:
        <ul>
            <li>browse and drop databases, tables, views, fields and indexes</li>
            <li>create, copy, drop, rename and alter databases, tables, fields and
                indexes</li>
            <li>maintenance server, databases and tables, with proposals on server
                configuration</li>
            <li>execute, edit and bookmark any
                <abbr title="structured query language">SQL</abbr>-statement, even
                batch-queries</li>
            <li>manage MySQL user accounts and privileges</li>
            <li>manage stored procedures and triggers</li>
        </ul>
        </li>
        <li>Import data from 
            <abbr title="comma separated values">CSV</abbr> and
            <abbr title="structured query language">SQL</abbr>
            </li>
        <li>Export data to various formats:
            <abbr title="comma separated values">CSV</abbr>,
            <abbr title="structured query language">SQL</abbr>,
            <abbr title="Extensible Markup Language">XML</abbr>,
            <abbr title="Portable Document Format">PDF</abbr>,
            <abbr title="International Organization for Standards">ISO</abbr>/<abbr
            title="International Electrotechnical Commission">IEC</abbr> 26300 -
            OpenDocument Text and Spreadsheet,
            <abbr title="Microsoft Word 2000">Word</abbr>,
            L<sup>A</sup>T<sub><em class="big">E</em></sub>X
            and others
            </li>
        <li>Administering multiple servers</li>
        <li>Creating graphics of your database layout in various formats</li>
        <li>Creating complex queries using Query-by-example (QBE)</li>
        <li>Searching globally in a database or a subset of it</li>
        <li>Transforming stored data into any format using a set of predefined
            functions, like displaying BLOB-data as image or download-link
            </li>
        <li>And much more...</li>
    </ul>
  </div>  
</div>

<div class="hero">
  <div id="latest-news" class="content">
    <h2 class="entry-title">
      <a href="{% url 'news' %}">News</a>
    </h2>
    <div class="news-list">
    {% for item in short_news %}
      <a class="news-item" href="{{ item.get_absolute_url }}">
          <div class="news-date">
            <div class="news-day">
              {{ item.date|date:"d" }}
            </div>
            <div class="news-month" title="{{ item.date|date:'mmmm' }}">
              {{ item.date|date:"mm" }}
            </div>
            <div class="news-year">
              <!-- TODO: Needs a if(item.date|date:'yyyy' == current_year) {display:none;} -->
              {{ item.date|date:"yyyy" }}
            </div>
          </div>
          <div class="news-info">
            <div class="news-title">
              {{item.title}}
            </div>
            <div class="news-excerpt">
              <!-- news excerpt goes here -->
            </div>            
          </div>
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
