{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="hero hero-primary">
  <div class="content hero-content">
    <div>
      Hero icon
    </div>
    <div>
      <div>
        <strong>phpMyAdmin</strong> is a free software tool written in PHP, to handle the administration of MySQL or MariaDB server over a Web Interface and supports a wide range of operations.
      </div>
      <div>
        {% with latest_release as release %}
          {% with release.simpledownload as file %}
            <a
              class="btn btn-secondary download_popup"
              href="{{ file.get_absolute_url }}"
              title="Download {{ file.archive }} compressed release, {{ file.size | filesizeformat }}"
              rel="quick-download"
              data-sha256="{{ file.sha256 }}"
              data-pgp="{{ file.get_signed_url }}"
            >
              Download {{ release.version }}
            </a>
          {% endwith %}
        {% endwith %}
        <a class="btn btn-ghost" href="https://demo.phpmyadmin.net/master-config/">Try it</a>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <p>
    Test links:<br>
    {% block littleboxes %}
      {% include '_littleboxes.html' %}
    {% endblock %}<br>
  </p>

  <!-- <div class="bookbanner">
    <a href="{% url 'docs' %}#books" id="cycler">
    <img src="{% static 'images/books/pma_en_3.4_150x185.png' %}" alt="phpMyAdmin book" class="active" />
    <img src="{% static 'images/books/pma_starter_150x184.jpg' %}" alt="phpMyAdmin Starter" />
    </a>
  </div> -->

  <!-- <p>
  phpMyAdmin comes with a wide range of <a
  href="{% url 'docs' %}">documentation</a> and users are welcome to
  update <a href="https://github.com/phpmyadmin/phpmyadmin/wiki">our wiki pages</a> to share ideas and
  howtos for various operations. The <a
  href="{% url 'team' %}">phpMyAdmin team</a> will try to help you if
  you face any problem; you can use a <a
  href="{% url 'support' %}">variety of support channels</a> to get
  help.
  </p> -->

  <!-- <p>
  phpMyAdmin is also very deeply documented in a book written by one of the developers
  &ndash; <a href="https://www.packtpub.com/big-data-and-business-intelligence/mastering-phpmyadmin-34-effective-mysql-management">Mastering phpMyAdmin for
  Effective MySQL Management</a>, which is available in English and <a href="{% url 'docs' %}#books">Spanish</a>.
  </p> -->

  <!-- <p>
  To ease usage to a wide range of people, phpMyAdmin is being translated into <a
  href="{% url 'translations' %}">72 languages</a> and supports both LTR
  and RTL languages.
  </p> -->

  <!-- <p>
  phpMyAdmin is a mature project with a stable and flexible code
  base; you can find out more about the <a href="{% url 'about' %}">project and its history</a> and the <a href="{% url 'awards' %}">awards</a> it earned. When the project turned 15, we published a <a href="{% url '15-years' %}">celebration page</a>.
  </p> -->

  <!-- <p>
  The phpMyAdmin project is a member of <a href="https://sfconservancy.org">Software Freedom Conservancy</a>. SFC is a not-for-profit organization that helps promote, improve, develop, and defend Free, Libre, and Open Source Software (FLOSS) projects.
  </p> -->

  <!-- <div class="sfc-logo">
      <a href="https://sfconservancy.org">
          <img src="{% static 'images/sfc_logo.png' %}" alt="SFC" height="50" width="156" />
      </a>
  </div> -->

  <div>
    <h2>Features</h2>
    <ul>
        <li>Intuitive web interface</li>
        <li>Support for most MySQL features:
        <ul>
            <li>browse and drop databases, tables, views, fields and indexes</li>
            <li>create, copy, drop, rename and alter databases, tables, fields and
                indexes</li>
            <li>maintenance server, databases and tables, with proposals on server
                configuration</li>
            <li>execute, edit and bookmark any
                <abbr title="structured query language">SQL</abbr>-statement, even
                batch-queries</li>
            <li>manage MySQL user accounts and privileges</li>
            <li>manage stored procedures and triggers</li>
        </ul>
        </li>
        <li>Import data from 
            <abbr title="comma separated values">CSV</abbr> and
            <abbr title="structured query language">SQL</abbr>
            </li>
        <li>Export data to various formats:
            <abbr title="comma separated values">CSV</abbr>,
            <abbr title="structured query language">SQL</abbr>,
            <abbr title="Extensible Markup Language">XML</abbr>,
            <abbr title="Portable Document Format">PDF</abbr>,
            <abbr title="International Organization for Standards">ISO</abbr>/<abbr
            title="International Electrotechnical Commission">IEC</abbr> 26300 -
            OpenDocument Text and Spreadsheet,
            <abbr title="Microsoft Word 2000">Word</abbr>,
            L<sup>A</sup>T<sub><em class="big">E</em></sub>X
            and others
            </li>
        <li>Administering multiple servers</li>
        <li>Creating graphics of your database layout in various formats</li>
        <li>Creating complex queries using Query-by-example (QBE)</li>
        <li>Searching globally in a database or a subset of it</li>
        <li>Transforming stored data into any format using a set of predefined
            functions, like displaying BLOB-data as image or download-link
            </li>
        <li>And much more...</li>
    </ul>
  </div>

  <div>
    {% include '_sponsors.html' %}
  </div>

  <div id="latest-news">
    <h2 class="entry-title">
      <a href="{% url 'news' %}">News</a>
    </h2>
    <div class="news-list">
    {% for item in short_news %}
      <a class="news-item" href="{{ item.get_absolute_url }}">
          <div class="news-date">
            <div class="news-day">
              {{ item.date|date:"d" }}
            </div>
            <div class="news-month">
              {{ item.date|date:"mm" }}
            </div>
          </div>
          <div class="news-info">
            <div class="news-title">
              {{item.title}}
            </div>
            <!-- <div class="news-excerpt">
              {{item.title}}
            </div> -->            
          </div>
      </a>
    {% endfor %}
      <a class="news-item" href="/news/2020/10/15/phpmyadmin-497-and-504-are-released/">
        <div class="news-date">
          <div class="news-day">
            15
          </div>
          <div class="news-month">
            Out
          </div>
          <div class="news-year">
            
          </div>
        </div>
        <div class="news-info">
          <div class="news-title">
            [TEST] phpMyAdmin 4.9.7 and 5.0.4 are released
          </div>
          <div class="news-excerpt">
            These are bug fix releases to address packaging problems with 4.9.6 and 5.0.3. Version 5.0.3 includes a few other minor bugs as well.
          </div>
        </div>
      </a>
      <a class="news-item" href="/news/2020/10/15/phpmyadmin-497-and-504-are-released/">
        <div class="news-date">
          <div class="news-day">
            15
          </div>
          <div class="news-month">
            Out
          </div>
          <div class="news-year">
            2019
          </div>
        </div>
        <div class="news-info">
          <div class="news-title">
            [TEST] phpMyAdmin 1.0 are released!
          </div>
          <div class="news-excerpt">
            This is the first release since I cannot make the News with real data works on local env!
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- <div id="latest-blogs">
    <h2 class="entry-title"><a href="https://planet.phpmyadmin.net/">Latest Posts in Developers Blogs</a></h2>
    <ul>
    {% for item in short_planet %}
    <li>
        <a href="{{ item.get_absolute_url }}">{{ item.date|date:"Y-m-d" }}: {{item.title}}</a>
    </li>
    {% endfor %}
    </ul>
    <p class="signature"><a href="https://planet.phpmyadmin.net/">...more blogs.</a></p>
  </div> -->
</div>
{% endblock %}
