{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Search</h2>

<p>
This page uses Google Custom Search to give you best results related to
phpMyAdmin. You can also use it <a
href="http://www.google.com/coop/cse?cx=008688692096734274889:2un4bs4yxjm">directly
on Google</a>.
</p>

<script>
  (function() {
    var cx = 'partner-pub-9981925389745105:6118076488';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

{% endblock %}
