{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Sponsors</h2>

<p>
The phpMyAdmin project extends a special thanks to the companies who wish to support us in a recurring way.
</p>

<h3>Diamond sponsor</h3>
Contact us to have your company listed here!

<h3>Platinum sponsors</h3>

<!--
<div class="logos">
</div>
-->

<h3>Gold sponsors</h3>

<div class="logos">
<a href="https://www.engineforex.com"><img src="{% static 'images/engineforex.png' %}" alt="EngineForex" /></a>
<a href="http://www.trialpro.com/"><img src="{% static 'images/trialpro.png' %}" alt="TrialPro" /></a>
</div>

<h3>Silver sponsors</h3>

<div class="logos">
</div>

<h3>Bronze sponsors</h3>

<div class="logos">
<a href="http://www.aoe.com/">AOE</a>
<a href="https://www.hostname.cl/">hostname.cl</a>
<a href="https://realestatesandpoint.net">realestatesandpoint.net</a>
<a href="http://makeawebsitehub.com/">makeawebsitehub.com</a>
<a href="https://www.topbargains.com.au/">Australian Coupons</a>
<a href="https://www.loadview-testing.com">Load View Testing</a>
<a href="https://www.entertainment-nation.co.uk/">Entertainment Nation</a>
<a href="https://www.gtxgaming.co.uk/">GTX Gaming</a>
<a href="https://www.chefworks.com/">Chef Works Inc.</a>
<a href="https://teamnijhuis.com/nl/">Online marketing bureau</a>
<a href="https://teamnijhuis.com/nl/seo-scan/">SEO check</a>
<a href="https://www.pricewise.nl/">vergelijk - Pricewise</a>
<a href="https://www.hoyhoy.nl/">verzekering - hoyhoy</a>
<a href="https://www.rabatterat.se/">Rabatterat.se Rabattkoder</a>
<a href="https://www.signomatic.co.uk/">Signomatic</a>
<a href="https://www.fit.nl">FIT.nl</a>
<a href="https://www.heerlaw.com">Heer Law</a>
<a href="https://yoursmarthomeguide.com">Your Smart Home Guide</a>
<a href="http://www.positivebyte.com">Positive Byte</a>
<a href="https://apollosoul.co.uk/">Apollo Soul</a>
<a href="https://internetvergelijk.nl">Internet vergelijken</a>
<a href="https://www.handandwristinstitute.com/">Dallas Hand and Wrist Institute</a>
<a href="https://www.beencrypted.com/">Be Encrypted</a>
<a href="https://www.themaldivesexpert.com">Maldives holidays</a>
<a href="https://www.omegamedia.no">Omega Media</a>
<a href="https://withcandour.co.uk">Candour Digital Agency</a>
<a href="https://www.bestvpnanalysis.com/">Best VPN Analysis</a>
<a href="https://moneezy.com/">Moneezy</a>
<a href="https://superkredit.net/">Lån penge</a>
<a href="https://www.minitool.com">MiniTool</a>
<a href="https://www.clfip.com">Chhabra Law Firm</a>
<a href="https://moneyarcher.com">Money Archer</a>
<a href="https://www.milemarkmedia.com/">Legal Marketing</a>
<a href="https://zenserp.com">Zenserp</a>
<a href="https://www.banksecrets.eu">Banksecrets</a>
<a href="https://www.mosm.com/">Meier Orthopedic Sports Medicine</a>
<a href="https://skepp.com/">SKEPP Office Rental</a>
<a href="https://nordikcoin.com/">NordikCoin</a>
<a href="https://akasse-fagforening.dk">a-kasse</a>
<a href="https://www.vergelijkdezorgverzekeringen.nl">Vergelijk de Zorgverzekeringen</a>
<a href="https://www.lån.dk">Lån online</a>
<a href="https://rabatkongen.dk">Rabatkongen rabatkoder</a>
<a href="https://roozonline.com/">Roozonline</a>
<a href="https://www.partitionwizard.com/">MiniTool Partition Wizard</a>
<a href="https://xn--allehrbcher-vfb4f.de/">Alle Hörbücher</a>
<a href="https://www.becam.nl">Becam</a>
<a href="https://comradeweb.com/">Comrade Web Agency</a>
<a href="https://www.velvetech.com/">Velvetech</a>
<a href="https://www.lazarlaw.com">Austin Divorce Attorney</a>
<a href="https://landingi.com">Landingi</a>
<a href="https://dinero.no">Dinero Forbrukslån</a>
<a href="https://www.remosoftware.com/">Remo Software</a>
<a href="https://www.jitbit.com/">Jitbit Helpdesk Software</a>
<a href="https://mypromocode.com/">MyPromoCode</a>
<a href="https://www.vpncompare.co.uk">VPN Compare</a>
<a href="https://laptopunboxed.com/">LaptopUnboxed</a>
<a href="https://cryptopotato.com/">CryptoPotato</a>
<a href="https://www.financiering.no/billan/">Financiering</a>
<a href="https://www.axofinans.se/">Axo Finans Sweden</a>
<a href="https://white.digital/">White Digital</a>
<a href="https://allaljudbocker.se/">Alla ljudböcker</a>
<a href="https://www.dailyfantasycafe.com/">Daily Fantasy Cafe</a>
</div>

<h2 id="conditions">Becoming a sponsor</h2>

{% include '_sponsorship_conditions.html' %}

<h2 id="partners">Technology partners</h2>

<p>
The phpMyAdmin project is grateful to our technology partners for their services.</p>

<h3><a href="https://www.cdn77.com/"><img src="{% static 'images/cdn77_logo.png' %}" alt="CDN77.com" /></a></h3>

<p>Our downloads are accelerated by <a href="https://www.cdn77.com/">content delivery network</a>.</p>

<h3><a href="https://github.com/phpmyadmin"><img src="{% static 'images/github.png' %}" alt="GitHub" /></a></h3>

<p>GitHub provides hosting for our source code and issue tracker.</p>

<h3><a href="https://browserstack.com"><img src="{% static 'images/BrowserStackLogo.png' %}" alt="BrowserStack" /></a></h3>

<p>BrowserStack is running our Selenium tests in real browsers.</p>

<h3><a href="https://scrutinizer-ci.com/g/phpmyadmin/phpmyadmin/"><img src="{% static 'images/scrutinizer.png' %}" alt="Scrutinizer" /></a></h3>

<p>Scrutinizer helps us improve code quality.</p>

<h3><a href="https://weblate.org/"><img src="{% static 'images/weblate-button.png' %}" alt="Weblate" /></a></h3>

<p>Our translations are being done on <a href="https://hosted.weblate.org/">Hosted Weblate</a>.</p>

{% endblock %}
