{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="content">
  <h2>Sponsors</h2>

  <p>
  The phpMyAdmin project extends a special thanks to the companies who wish to support us in a recurring way.
  </p>

  <h3>Diamond sponsor</h3>
  Contact us to have your company listed here!

  <h3>Platinum sponsors</h3>
  <!--
  <div class="logos">
  </div>
  -->

  <div class="sponsors-gold">
    <h3>Gold sponsors</h3>
    <div class="sponsor-list">
      <a href="http://www.trialpro.com/" class="link-external"><img src="{% static 'images/trialpro.png' %}" alt="TrialPro" /></a>
      <a href="https://www.vapehuset.se/" class="link-external"><img src="{% static 'images/vapehuset.png' %}" alt="Vapehuset" /></a>
    </div>
  </div>

  <div class="logos">
    <a href="https://www.4kdownload.com/"><img src="{% static 'images/4kdownload.png' %}" alt="4K Download" /></a>
  </div>

  <div class="logos">
    <a href="https://goread.io/"><img src="{% static 'images/goread.png' %}" alt="goread" /></a>
  </div>

  <h3>Silver sponsors</h3>

  <div class="logos">
  </div>

  <ul class="card-list card-list-side">
    <li><a href="http://www.aoe.com/">AOE</a></li>
    <li><a href="https://www.hostname.cl/">hostname.cl</a></li>
    <li><a href="https://realestatesandpoint.net">realestatesandpoint.net</a></li>
    <li><a href="http://makeawebsitehub.com/">makeawebsitehub.com</a></li>
    <li><a href="https://www.topbargains.com.au/">Australian Coupons</a></li>
    <li><a href="https://www.loadview-testing.com">Load View Testing</a></li>
    <li><a href="https://www.entertainment-nation.co.uk/">Entertainment Nation</a></li>
    <li><a href="https://www.gtxgaming.co.uk/">GTX Gaming</a></li>
    <li><a href="https://www.chefworks.com/">Chef Works Inc.</a></li>
    <li><a href="https://teamnijhuis.com/nl/">Online marketing bureau</a></li>
    <li><a href="https://teamnijhuis.com/nl/seo-scan/">SEO check</a></li>
    <li><a href="https://www.pricewise.nl/">vergelijk - Pricewise</a></li>
    <li><a href="https://www.hoyhoy.nl/">verzekering - hoyhoy</a></li>
    <li><a href="https://www.rabatterat.se/">Rabatterat.se Rabattkoder</a></li>
    <li><a href="https://www.signomatic.co.uk/">Signomatic</a></li>
    <li><a href="https://www.fit.nl">FIT.nl</a></li>
    <li><a href="https://www.heerlaw.com">Heer Law</a></li>
    <li><a href="https://yoursmarthomeguide.com">Your Smart Home Guide</a></li>
    <li><a href="http://www.positivebyte.com">Positive Byte</a></li>
    <li><a href="https://internetvergelijk.nl">Internet vergelijken</a></li>
    <li><a href="https://www.handandwristinstitute.com/">Dallas Hand and Wrist Institute</a></li>
    <li><a href="https://www.themaldivesexpert.com">Maldives holidays</a></li>
    <li><a href="https://www.omegamedia.no">Omega Media</a></li>
    <li><a href="https://withcandour.co.uk">Candour Digital Agency</a></li>
    <li><a href="https://www.bestvpnanalysis.com/">Best VPN Analysis</a></li>
    <li><a href="https://moneezy.com/">Moneezy</a></li>
    <li><a href="https://www.minitool.com">MiniTool</a></li>
    <li><a href="https://www.clfip.com">Chhabra Law Firm</a></li>
    <li><a href="https://moneyarcher.com">Money Archer</a></li>
    <li><a href="https://www.milemarkmedia.com/">Legal Marketing</a></li>
    <li><a href="https://www.mosm.com/">Meier Orthopedic Sports Medicine</a></li>
    <li><a href="https://skepp.com/">SKEPP Office Rental</a></li>
    <li><a href="https://nordikcoin.com/">NordikCoin</a></li>
    <li><a href="https://www.vergelijkdezorgverzekeringen.nl">Vergelijk de Zorgverzekeringen</a></li>
    <li><a href="https://www.lån.dk">Lån online</a></li>
    <li><a href="https://rabatkongen.dk">Rabatkongen rabatkoder</a></li>
    <li><a href="https://roozonline.com/">Roozonline</a></li>
    <li><a href="https://www.partitionwizard.com/">MiniTool Partition Wizard</a></li>
    <li><a href="https://xn--allehrbcher-vfb4f.de/">Alle Hörbücher</a></li>
    <li><a href="https://www.becam.nl">Becam</a></li>
    <li><a href="https://comradeweb.com/">Comrade Digital Marketing Agency</a></li>
    <li><a href="https://www.lazarlaw.com">Austin Divorce Attorney</a></li>
    <li><a href="https://landingi.com">Landingi</a></li>
    <li><a href="https://dinero.no">Dinero Forbrukslån</a></li>
    <li><a href="https://www.remosoftware.com/">Remo Software</a></li>
    <li><a href="https://www.jitbit.com/">Jitbit Helpdesk Software</a></li>
    <li><a href="https://mypromocode.com/">MyPromoCode</a></li>
    <li><a href="https://www.vpncompare.co.uk">VPN Compare</a></li>
    <li><a href="https://laptopunboxed.com/">LaptopUnboxed</a></li>
    <li><a href="https://cryptopotato.com/">CryptoPotato</a></li>
    <li><a href="https://www.financiering.no/billan/">Financiering</a></li>
    <li><a href="https://www.axofinans.se/">Axo Finans Sweden</a></li>
    <li><a href="https://white.digital/">White Digital</a></li>
    <li><a href="https://allaljudbocker.se/">Alla ljudböcker</a></li>
    <li><a href="https://www.dailyfantasycafe.com/">Daily Fantasy Cafe</a></li>
    <li><a href="https://julegenser.no">Julegenser</a></li>
    <li><a href="https://www.bank24.nu/">Bank24</a></li>
    <li><a href="https://manualsbrain.com/en/">User manuals</a></li>
    <li><a href="https://www.lineups.com/">Lineups</a></li>
    <li><a href="https://ikanobank.no/">Ikano Bank</a></li>
    <li><a href="http://bestfantasyapp.in">Best Fantasy App</a></li>
    <li><a href="https://www.workerscompensationshop.com/">Workers Compensation Insurance</a></li>
    <li><a href="https://www.prijsvergelijken.nl">prijsvergelijken.nl</a></li>
    <li><a href="https://www.geld.nl/">Verzekeringen vergelijken op Geld.nl</a></li>
    <li><a href="https://www.autonomer.nl/">Autonomer</a></li>
    <li><a href="https://stormlikes.net/">buy Instagram followers</a></li>
    <li><a href="https://vpnxpert.com/">Best VPN</a></li>
  </ul>

  <h2 id="conditions">Becoming a sponsor</h2>

  {% include 'components/_sponsorship_conditions.html' %}

  <h2 id="partners">Technology partners</h2>

  <p>
  The phpMyAdmin project is grateful to our technology partners for their services.</p>

  <h3><a href="https://www.cdn77.com/"><img src="{% static 'images/cdn77_logo.png' %}" alt="CDN77.com" /></a></h3>

  <p>Our downloads are accelerated by <a href="https://www.cdn77.com/">content delivery network</a>.</p>

  <h3><a href="https://github.com/phpmyadmin"><img src="{% static 'images/github.png' %}" alt="GitHub" /></a></h3>

  <p>GitHub provides hosting for our source code and issue tracker.</p>

  <h3><a href="https://browserstack.com"><img src="{% static 'images/BrowserStackLogo.png' %}" alt="BrowserStack" /></a></h3>

  <p>BrowserStack is running our Selenium tests in real browsers.</p>

  <h3><a href="https://scrutinizer-ci.com/g/phpmyadmin/phpmyadmin/"><img src="{% static 'images/scrutinizer.png' %}" alt="Scrutinizer" /></a></h3>

  <p>Scrutinizer helps us improve code quality.</p>

  <h3><a href="https://weblate.org/"><img src="{% static 'images/weblate-button.png' %}" alt="Weblate" /></a></h3>

  <p>Our translations are being done on <a href="https://hosted.weblate.org/">Hosted Weblate</a>.</p>
</div>
{% endblock %}
