{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Sponsors</h2>

<p>
The phpMyAdmin project extends a special thanks to the companies who wish to support us in a recurring way.
</p>

<h3>Diamond sponsor</h3>
<a href="https://www.navicat.com/"><img src="{% static 'images/navicat_250x250.png' %}" alt="Navicat" /></a>

<h3>Platinum sponsors</h3>

<div class="logos">
</div>

<h3>Gold sponsors</h3>

<div class="logos">
<a href="http://www.01casinos.net/"><img src="{% static 'images/01casinos.png' %}" alt="Online Casino guide" /></a>
<a href="http://tobi.com/"><img src="{% static 'images/tobi.png' %}" alt="tobi.com" /></a>
<a href="http://MobileSlots.com/"><img src="{% static 'images/mobileslots.png' %}" alt="MobileSlots.com" /></a>
<a href="http://7binaryoptions.com/">7binaryoptions.com</a>
<a href="http://www.casino2k.com/"><img src="{% static 'images/casino2k.png' %}" alt="Casino2k" /></a>
<a href="https://www.roxypalace.com/"><img src="{% static 'images/roxy-palace.png' %}" alt="Roxy Palace online casino" /></a>
</div>

<h3>Silver sponsors</h3>

<div class="logos">
<a href="https://www.eternityrose.com.au/"><img src="{% static 'images/eternity-rose.png' %}" alt="The Eternity Rose" /></a>
</div>

<h3>Bronze sponsors</h3>

<div class="logos">
<a href="http://www.aoe.com/">AOE</a>
<a href="https://www.hostname.cl/">hostname.cl</a>
<a href="https://dailyfantasycafe.com/">Daily Fantasy Cafe</a>
<a href="http://www.dailyhosting.net/">DailyHosting.net</a>
<a href="http://makeawebsitehub.com/">makeawebsitehub.com</a>
<a href="http://www.unbreakableit.com">Orlando IT Services</a>
<a href="http://bettingappstore.co.uk/">Betting App Store</a>
<a href="https://www.topbargains.com.au/">Australian Coupons</a>
<a href="http://www.trustedbinaryrobots.com/">Trusted Binary Robots</a>
<a href="https://www.binaryuno.com/">Binary Uno</a>
<a href="http://www.vergelijk-simonly.com">Sim only vergelijken</a>
<a href="https://www.loadview-testing.com">Load View Testing</a>
<a href="http://customerservicecontactnumber.co.uk/">customerservicecontactnumber.co.uk</a>
<a href="http://www.edmontonrealestate.ca/">Edmonton Real Estate</a> 
<a href="https://metapress.com/">Metapress Tutorials</a>
<a href="http://www.flaptor.com/">flaptor</a>
<a href="https://www.entertainment-nation.co.uk/">Entertainment Nation</a>
<a href="https://www.gtxgaming.co.uk/">GTX Gaming</a>
<a href="https://www.autoverzekering.nl/">Autoverzekering.nl</a>
<a href="https://www.chefworks.com/">Chef Works Inc.</a>
<a href="http://www.dealslands.co.uk/">Dealslands UK</a>
<a href="https://99bitcoins.com/">99bitcoins</a>
<a href="https://www.localdigital.com.au/">Local Digital</a>
<a href="https://tinki.nl/">Online dierenwinkel Tinki.nl</a>
<a href="https://teamnijhuis.com/">Team Nijhuis</a>
<a href="https://tinki.de/">Hundezubehör Hundeshop Tinki.de</a>
<a href="https://xopenhub.pro/">X OPEN HUB</a>
<a href="https://www.pricewise.nl/">vergelijk - Pricewise</a>
<a href="https://www.hoyhoy.nl/">verzekering - hoyhoy</a>
<a href="https://www.webton.nl/">Bovenaan in Google door Webton.nl</a>
<a href="https://www.areapoints.com/">Area Points</a>
<a href="https://www.rabatterat.se/">Rabatterat.se Rabattkoder</a>
<a href="https://ecohosting.cl/">EcoHosting.cl</a>
</div>

<h2 id="conditions">Becoming sponsor</h2>

{% include '_sponsorship_conditions.html' %}

<h2>Technology partners</h2>

<p>
The phpMyAdmin project is grateful to our technology partners for their services.</p>

<h3><a href="https://www.cdn77.com/"><img src="{% static 'images/cdn77_logo.png' %}" alt="CDN77.com" /></a></h3>

<p>Our downloads are accelerated by <a href="https://www.cdn77.com/">content delivery network</a>.</p>

<h3><a href="https://github.com/phpmyadmin"><img src="{% static 'images/github.png' %}" alt="GitHub" /></a></h3>

<p>GitHub provides hosting for our source code and issue tracker.</p>

<h3><a href="https://browserstack.com"><img src="{% static 'images/BrowserStackLogo.png' %}" alt="BrowserStack" /></a></h3>

<p>BrowserStack is running our Selenium tests in real browsers.</p>

<h3><a href="https://scrutinizer-ci.com/g/phpmyadmin/phpmyadmin/"><img src="{% static 'images/scrutinizer.png' %}" alt="Scrutinizer" /></a></h3>

<p>Scrutinizer helps us improve code quality.</p>

<h3><a href="https://weblate.org/"><img src="{% static 'images/weblate-button.png' %}" alt="Weblate" /></a></h3>

<p>Our translations are being done on <a href="https://hosted.weblate.org/">Hosted Weblate</a>.</p>

{% endblock %}
