{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="floatbox">
<h2>Getting support</h2>

<p>
Effective September 1st, 2013, support for questions directly related to phpMyAdmin has moved to <a href="http://stackoverflow.com/tags/phpmyadmin/info">stackoverflow</a>. All prior support mechanisms have been phased out.
<br />
<br />
Questions about server issues (web server configuration, "404 - Not Found" error, etc), should be asked on <a href="http://serverfault.com">serverfault.com</a>.
<br />
<br />
The way of reporting (security) bugs and adding feature requests will be unaffected.
</p>
</div>

<div class="floatbox">
<h2>Trackers</h2>

<p>
We track our <a href="https://github.com/phpmyadmin/phpmyadmin/issues">issues at GitHub</a>,  
for code changes you can open pull request there.
</p>

</div>

<div class="floatbox">
<h2>Mailing Lists</h2>
<ul>
    <li>For news/announcements: <a href="https://lists.sourceforge.net/mailman/listinfo/phpmyadmin-news">phpmyadmin-news@lists.sourceforge.net</a></li>
    <li>For developers: <a href="https://lists.sourceforge.net/mailman/listinfo/phpmyadmin-devel">phpmyadmin-devel@lists.sourceforge.net</a></li>
    <li>For translators: <a href="https://lists.sourceforge.net/mailman/listinfo/phpmyadmin-translators">phpmyadmin-translators@lists.sourceforge.net</a></li>
    <li>Git commit notifications: <a href="https://lists.sourceforge.net/mailman/listinfo/phpmyadmin-git">phpmyadmin-git@lists.sourceforge.net</a></li>
    <li><a href="http://sourceforge.net/p/phpmyadmin/mailman/">Mailing lists overview</a></li>
</ul>
</div>

<div class="floatbox">
<h2>Commercial Support</h2>

<p>
If you want to receive commercial support for phpMyAdmin, either as help with
installation or implementing custom features, do not hesitate to contact the 
<a href="https://lists.sourceforge.net/mailman/listinfo/phpmyadmin-devel">development mailing list</a>. 
Please note that these services are not in any way connected with the phpMyAdmin team and we can not guarantee accurate information or quality of service for them. 
</p>

</div>

<div class="clearer"></div>

{% endblock %}
