{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="floatbox">
<h2>Types of questions and where to ask</h2>
<ul>
  <li>How do I? &mdash; <a href="http://stackoverflow.com/tags/phpmyadmin/info">Stack Overflow</a></li>
  <li>I got this error, why? &mdash; <a href="http://stackoverflow.com/tags/phpmyadmin/info">Stack Overflow</a></li>
  <li>I got this web server error (like "404 - Not Found") &mdash; <a href="http://serverfault.com/tags/phpmyadmin">serverfault.com</a> or <a href="http://webmasters.stackexchange.com/tags/phpmyadmin">webmasters.stackexchange.com</a></li>
  <li>I got this error on the current stable version and I'm sure it's a bug &mdash; Please file an <a href=https://github.com/phpmyadmin/phpmyadmin/issues">issue</a></li>
  <li>I have an idea/request &mdash; Please file an <a href=https://github.com/phpmyadmin/phpmyadmin/issues">issue</a></li>
  <li>I have a question about the code itself &mdash; Use our <a href="https://lists.phpmyadmin.net/mailman/listinfo/developers">developers@phpmyadmin.net</a> mailing list</li>
</ul>
</div>

<div class="floatbox">
<h2>Mailing Lists</h2>
<ul>
    <li>For news/announcements: <a href="https://lists.phpmyadmin.net/mailman/listinfo/news">news@phpmyadmin.net</a></li>
    <li>For developers: <a href="https://lists.phpmyadmin.net/mailman/listinfo/developers">developers@phpmyadmin.net</a></li>
    <li>For translators: <a href="https://lists.phpmyadmin.net/mailman/listinfo/translators">translators@phpmyadmin.net</a></li>
    <li>Git commit notifications: <a href="https://lists.phpmyadmin.net/mailman/listinfo/git">git@phpmyadmin.net</a></li>
    <li><a href="https://lists.phpmyadmin.net/">Mailing lists overview</a></li>
</ul>
</div>

<div class="floatbox">
<h2>Commercial Support</h2>

<p>
If you want to receive commercial support for phpMyAdmin, either as help with
installation or implementing custom features, do not hesitate to contact the 
<a href="https://lists.phpmyadmin.net/mailman/listinfo/developers">development mailing list</a>. 
Please note that these services are not in any way connected with the phpMyAdmin team and we can not guarantee accurate information or quality of service for them. 
</p>

</div>

<div class="clearer"></div>

{% endblock %}
