{% extends 'base.html' %}
{% load staticfiles %}

<py:def function="page_title">Themes</py:def>
<py:def function="page_rss">${rss_files}</py:def>
<py:def function="page_rss_title">phpMyAdmin file releases</py:def>

{% block content %}
<h2>Themes</h2>
<p>
phpMyAdmin supports themes since version 2.6.0. All themes are not compatible
with all phpMyAdmin versions; you should select below which version you are
using.
</p>
<p>
Please note that themes contain PHP code and you should download them only
from trusted servers. All themes available on this page have been checked by
phpMyAdmin team members.
</p>
<p>
To install a theme, unzip your downloaded theme into the directory /themes/ of
your phpMyAdmin folder. When you open phpMyAdmin, you should be able to select the theme.
Please read the documentation for more details.
</p>
<p>
You can try the themes in action on our <a
href="${base_url}try.${file_ext}">demo server</a>.
</p>

<h2>Submit Theme</h2>
<p>
You've made a new theme and you want to share it?  Please send your pull 
request to <a href="https://github.com/phpmyadmin/themes/pulls">https://github.com/phpmyadmin/themes/pulls</a>. The team will check and prepare your theme for downloading here.
</p>

<h2>Available Themes</h2>
<p>Select your phpMyAdmin version (requires JavaScript):
<a py:for="css in themecssversions" class="themelink" href="#${css.css}" onclick="show_theme('${css.css}')">${css.name}</a>
</p>
{% for theme in themes %}
    <div class="theme {{theme.get_css}}">
        <h3>{{theme}}</h3>
            <div class="themeimgborder">
            <div class="themeimg">
                <a href="{% static '' %}{{ theme.imgname }}"
                rel="lightbox[themes]" title="{{theme.name}}">
                    <img src="{% static '' %}{{ theme.imgname }}" alt="{{theme.display_name}} thumbnail" />
                </a>
            </div>
            </div>
            <p>Released on ${theme.date}</p>
            <p>Compatible with phpMyAdmin <strong>{{theme.supported_versions}}</strong>.</p>
            {% if theme.author %}
            <p>Author: {{theme.author}}</p>
            {% endif %}
            <p>{{ theme.description }}</p>
            <ul class="dl">
                <li><a href="{{ theme.get_absolute_url }}">{{theme.filename}}</a> ({{theme.size|filesizeformat}}, MD5: ${theme.file.md5})</li>
            </ul> 
    </div>
    {% endfor %}
    <div class="clearer"></div>
{% endblock %}
