{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Try phpMyAdmin</h2>

<p>
  The best way to see phpMyAdmin in action is to try it on our demo server, where you have
  full control over MySQL.
</p>

<p>
  Please do not change the root, debian-sys-maint, or pma user passwords or limit their
  permissions. If you do so, the demo cannot be accessed until privileges are
  restored, which disrupts access for yourself and other users. Feel free to explore
  any of the phpMyAdmin features. If you break something, just wait a while. The
  database configuration resets every hour. Databases are cleaned weekly, so do
  not expect that your data will stay there forever.
</p>

<p>
  The demo is running on <a href="https://www.mysql.com" target="_blank" rel="noopener">MySQL</a> and
  <a href="https://mariadb.org" target="_blank" rel="noopener">MariaDB</a>.
  phpMyAdmin has enabled additional relational features
  and MIME transformations.
</p>

<h3>Login Information</h3>

<p>
  Login as root with an empty password or any user you create.
</p>

<h3>Available Demo Versions</h3>

<p>
  Please note that development versions may not always be stable, as they represent the latest changes.
</p>

<h4>Releases and Maintenance Branches</h4>

{% with demo_stable as demos %}
  {% include '_demo_list.html' %}
{% endwith %}

{% if demo_devel %}
  <h4>Development Version (future {{ demo_devel.0.master_version }})</h4>
  {% with demo_devel as demos %}
    {% include '_demo_list.html' %}
  {% endwith %}
{% endif %}

<h3>Current Documentation and Tools</h3>

<ul>
  <li>
    <a href="https://docs.phpmyadmin.net/" target="_blank" rel="noopener">Main documentation (including FAQ)</a>
  </li>
  <li>
    <a href="https://demo.phpmyadmin.net/master-config/public/index.php?route=/changelog" target="_blank" rel="noopener">ChangeLog (preprocessed to be user friendly)</a>
  </li>
  <li>
    <a href="https://demo.phpmyadmin.net/master-config/public/index.php?route=/license" target="_blank" rel="noopener">License</a>
  </li>
  <li>
    <a href="https://demo.phpmyadmin.net/master-config/public/setup/" target="_blank" rel="noopener">Setup script</a>
  </li>
</ul>

<h3>Screenshots</h3>

<div class="row row-cols-4">
  {% for screen in screenshots %}
    <div class="col">
      <a href="{% static screen.image %}" data-toggle="lightbox" data-gallery="screenshots" title="{{ screen.title }}">
        <figure class="figure">
          <img src="{% static screen.image %}" class="figure-img img-thumbnail rounded" alt="{{ screen.title }}">
          <figcaption class="figure-caption">{{ screen.title }}</figcaption>
        </figure>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
