{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Demo Server</h2>

<p>
The best way to see phpMyAdmin in action is to try it on our demo server, where you have
full control on MySQL. The default login is root with empty password.
</p>

<ul>
    <li><a href="http://demo.phpmyadmin.net/">Demos overview</a></li>
    <li><a href="http://demo.phpmyadmin.net/master">Latest development version</a></li>
    <li><a href="http://demo.phpmyadmin.net/STABLE">Latest released stable version</a></li>
</ul>


<h2>Screenshots</h2>

{% for screen in screenshots %}
<div class="screenshot">
    <a href="{% static screen.image %}"
    rel="lightbox[screenshots]" title="{{screen.title}}">
        <img src="{% static screen.image %}"
        alt="{{ screen.title }}" /><br />
    {{ screen.title }}
    </a>
</div>
{% endfor %}

<div class="clearer"></div>

{% endblock %}
