{% extends 'base.html' %}
{% load staticfiles %}

{% block ogtags %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{post.date.isoformat }}" />
<meta property="article:author" content="https://www.facebook.com/phpMyAdmin-157021164334486/" />
<meta property="article:publisher" content="https://www.facebook.com/phpMyAdmin-157021164334486/" />
{% endblock %}

{% block content %}
<div class="content">
<h2 class="entry-title"><a rel="bookmark" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
<p class="date"><abbr class="published" title="{{ post.date.isoformat }}">{{post.date|date:"Y-m-d"}}</abbr></p>
<p class="entry-content">{{ post.body }}</p>
</div>
{% endblock %}
