{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-8">
    {% for item in latest %}
      <article class="mb-4">
        <header>
          <h2>
            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
          </h2>
          <p class="text-muted mb-3">
            <time datetime="{{ item.date|date:'c' }}" title="{{ item.date|date:'Y-m-d H:i' }}">
              <svg class="bi"><use href="#calendar-event"></use></svg>
              {{ item.date|date:'F j, Y' }}
            </time>
          </p>
        </header>
        <div>
          {{ item.body|safe }}
        </div>
      </article>
    {% endfor %}

    <nav>
      <ul class="pagination justify-content-start">
        <li class="page-item{% if page_obj.number == 1 %} disabled{% endif %}">
          <a class="page-link" href="{% if page_obj.number > 1 %}{% url 'news-page' page=1 %}{% endif %}">
            <span aria-hidden="true">&lt;&lt;</span>
          </a>
        </li>
        <li class="page-item{% if page_obj.number == 1 %} disabled{% endif %}">
          <a class="page-link" href="{% if page_obj.number > 1 %}{% url 'news-page' page=page_obj.previous_page_number %}{% endif %}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% if page_obj.number > 4 %}
          <li class="page-item">
            <a class="page-link" href="{% url 'news-page' page=1 %}">1</a>
          </li>
          {% if page_obj.number > 5 %}
            <li class="page-item disabled"><span class="page-link">…</span></li>
          {% endif %}
        {% endif %}
        {% for num in paginator.page_range %}
          {% if num >= page_obj.number|add:"-3" and num <= page_obj.number|add:"3" %}
            <li class="page-item{% if num == page_obj.number %} active{% endif %}">
              <a class="page-link" href="{% url 'news-page' page=num %}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.number < paginator.num_pages|add:"-3" %}
          {% if page_obj.number < paginator.num_pages|add:"-4" %}
            <li class="page-item disabled"><span class="page-link">…</span></li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="{% url 'news-page' page=paginator.num_pages %}">{{ paginator.num_pages }}</a>
          </li>
        {% endif %}
        <li class="page-item{% if page_obj.number == paginator.num_pages %} disabled{% endif %}">
          <a class="page-link" href="{% if page_obj.number < paginator.num_pages %}{% url 'news-page' page=page_obj.next_page_number %}{% endif %}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item{% if page_obj.number == paginator.num_pages %} disabled{% endif %}">
          <a class="page-link" href="{% if page_obj.number < paginator.num_pages %}{% url 'news-page' page=paginator.num_pages %}{% endif %}">
            <span aria-hidden="true">&gt;&gt;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-12 col-md-4">
    <p class="mb-4">
      Bored of official project news? Then check out the 
      <a href="https://planet.phpmyadmin.net" target="_blank" rel="noopener">planet phpMyAdmin</a> 
      for developers' blogs.
    </p>
    <p>
      You can also follow us on 
      <a href="https://www.facebook.com/pmyadmin/" target="_blank" rel="noopener">Facebook</a>
      or 
      <a href="https://x.com/phpmya" target="_blank" rel="noopener">Twitter</a>. 
      The news are also available in a 
      <a href="{% url 'feed-news' %}" target="_blank">RSS feed</a>.
    </p>
  </div>
</div>
{% endblock %}
