<p>
phpMyAdmin <a href="https://git-scm.com/">Git</a> repository is located at
<code>https://github.com/phpmyadmin/phpmyadmin.git</code> and you
can browse them online using <a
href="https://github.com/phpmyadmin/phpmyadmin/">GitHub</a>.
Note that phpMyAdmin uses Composer to manage library dependencies, when using git
development versions you must manually run Composer.
Please see <a href="https://docs.phpmyadmin.net/en/latest/setup.html#installing-from-git">the documentation</a> for details.
</p>
