<p>
Should you find a security issue in the phpMyAdmin programming code, please
contact the <a href="mailto:security@phpmyadmin.net">phpMyAdmin security team</a> in
advance before publishing it. This way we can prepare a fix and release the fix together with your
announcement. You will be also given credit in our security announcement.
</p>

<p>
You can optionally encrypt your report with PGP key ID
<code>DA68AB39218AB947</code> with following fingerprint:
</p>

<pre><code>
pub   4096R/DA68AB39218AB947 2016-08-02
      Key fingerprint = 5BAD 38CF B980 50B9 4BD7  FB5B DA68 AB39 218A B947
uid                          phpMyAdmin Security Team &lt;security@phpmyadmin.net&gt;
sub   4096R/5E4176FB497A31F7 2016-08-02
</code></pre>

<p>
The key can be either obtained from the keyserver or is available in
<a href="https://files.phpmyadmin.net/phpmyadmin.keyring">phpMyAdmin keyring</a>
available on our download server or using <a href="https://keybase.io/phpmyadmin_sec">Keybase</a>.
</p>

<p>
Should you have suggestion on improving phpMyAdmin to make it more secure, please
report that to our <a href="https://github.com/phpmyadmin/phpmyadmin/issues">issue
tracker</a>. Existing improvement suggestions can be found by
<a href="https://github.com/phpmyadmin/phpmyadmin/labels/hardening">hardening label</a>.
</p>
