name: Run tests

permissions:
  contents: read

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master

jobs:
  test-python:
    name: Test on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        # Debian Trixie and Debian Forky (https://tracker.debian.org/pkg/python3)
        python-version: ["3.13", "3.14"]
        os: [ubuntu-latest]

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4

      - name: Use Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: pip install -r requirements-test.txt

      - name: Run the migrations
        run: ./manage.py migrate

      - name: Check missing migrations
        run: ./manage.py makemigrations --check

      - name: Run Python checks
        run: ./manage.py check

      - name: Run Python tests and coverage
        run: coverage run --source=. ./manage.py test

      - name: Send coverage
        uses: codecov/codecov-action@v3
